@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

// .ocs-load {
//     background: map.get(theme.$nyg-red-palletes, ad13-red);
// }

// .ocs-load2 {
//     background: map.get(theme.$nyg-blue-palletes, ad6-blue);

// }