@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .container {
        width: 100%;
        height: 100%;
    }
}

:host {
    .ocs-load {

        // width: 200px;
        // height: 400px;
        width: 250px;
        height: 360px;

        display: block;
        // background: orange;
        border-top-left-radius: 4rem;
        border-bottom-left-radius: 4rem;
        position: absolute;
        top: 90px;
        bottom: 0;
        left: 225%;
        z-index: 1111;

    }
}

:host {
    .ocs-load2 {
        width: 250px;
        height: 360px;

        // width: 200px;
        // height: 400px;
        display: block;
        // background: red;
        border-top-right-radius: 4rem;
        border-bottom-right-radius: 4rem;
        position: absolute;
        top: 90px;
        bottom: 0;
        right: 225%;

        z-index: 1111;
    }
}

:host {
    .ocs-item {
        width: 100%;
        height: 100%;
        padding: 10px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 45px;
        position: relative;
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

:host {
    .ocs-log {

        width: 380px;
        height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // border-top-right-radius: 4rem;
        // border-bottom-right-radius: 4rem;
        // border-top-left-radius: 4rem;
        // border-bottom-left-radius: 4rem;
        position: relative;
        right: 0;
        bottom: 20px;
        // transition: background;
        // transition-timing-function: cubic-bezier(.93, -0.25, .99, 1.63);
        // transition-duration: 1.45s;
        // background: map.get(theme.$nyg-white-palletes, ad8-white);
        // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        // backdrop-filter: blur(0px);
        // -webkit-backdrop-filter: blur(0px);
    }
}

:host {
    .ocs-header {
        font-size: 10rem;
        font-family: arial;
        position: relative;
        top: 100px;
    }
}