@use '../../helpers/helpers.scss' as mat;
@use '../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .containerX {
        width: 100%;
        height: 100%;
    }
}

:host {
    .deta-container {
        @include mat.setup(100%, 100%, flex);
        @include mat.setupFlex(row, flex-start, center);

        & {
            gap: 10px;
        }
    }
}

:host {
    .set-border {
        padding: 10px;
        display: flex;
        gap: 10px;
        border-style: solid;
        border-width: 10px;

        & {
            border-color: map.get(theme.$nyg-black-palletes, umber-black);
        }

        & {
            background-color: map.get(theme.$nyg-brown-palletes, potrait2-brown);
        }

    }
}

:host {
    .headers-container {
        @include mat.setup(100%, 100%, flex);
        @include mat.setupFlex(column, flex-start, flex-start);
    }
}

:host {
    .nyg-round-headers {
        @include mat.setup(100%, 100%, flex);
        @include mat.setupFlex(row, center, center);
    }
}

:host {
    .nyg-header {
        font-size: 2rem;
        font-family: monospace;
        padding: 40px;
    }
}