@use '././../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.co {
    padding: 10px;
    border-radius: 3rem;
    width: fit-content;
    height: fit-content;
    background-color: map.get(theme.$nyg-white-palletes, ad8-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ocs-cl {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

:host {
    .nyg-header {
        font-size: 4rem;
        font-family: arial;
    }
}