@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

.nyg-p1 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nyg-p2 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nyg-fs2 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


:host {
    .nyg-make-btn {
        width: fit-content;
        height: fit-content;
        border-radius: 3rem;
        background-color: map.get(theme.$nyg-voilet-palletes, magenta-dark-shade-2);
        filter: grayscale(1);
        border: 0px;
        padding: 10px;

        .nyg-header {
            font-size: 2rem;
        }
    }
}

:host {
    .btn-cont {
        padding-bottom: 10px;
        border-radius: 3rem;

        .nyg-header {
            color: map.get(theme.$nyg-white-palletes, ad8-white);
            font-size: 3rem;
        }
    }

}

:host {
    .ocs-step {
        width: fit-content;
        height: fit-content;
        display: flex;
        border-radius: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 10px;
    }
}



.container2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

:host {
    .btn-cont {
        width: fit-content;
        height: fit-content;
        background-color: map.get(theme.$nyg-white-palletes, ad8-white);
    }
}

:host {
    .btn-cont {
        &:hover {
            background-color: map.get(theme.$nyg-yellow-palletes, ad2-yellow);
        }
    }
}