@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .nyg-form-container {
        width: fit-content;
        height: fit-content;
        position: relative;
        padding: 10px;
        border-radius: 4rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        pointer-events: none;

    }
}

.ocs-sn {
    pointer-events: none;

    position: absolute;
    top: 0;
    width: 100%;
    height: 12px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate1;
    animation-duration: 2.46s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, .4, .07, .7);
    z-index: -1;
    border-radius: 3rem;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
        background: linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red)40%,
                map.get(theme.$nyg-blue-palletes, ad11-blue)100%);
    }

    // 10% {
    //     transform: translateX(100%);
    //     background: linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red)60%,
    //             map.get(theme.$nyg-blue-palletes, ad11-blue)100%);
    // }

    100% {
        transform: translateX(100%);
        background: linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red)100%,
                map.get(theme.$nyg-blue-palletes, ad11-blue)100%);
    }
}

:host {
    .item-fitz {
        &:has(.nyg-input:checked) {
            pointer-events: none;

            --from: #000922;
            --to: #f5f4de;
            // for mysterium
            --from:#{map.get(theme.$nyg-black-palletes, ad1-black)};
            --to:#{map.get(theme.$nyg-yellow-palletes, ad5-yellow)};
            // for pshycis
            --from:#{map.get(theme.$nyg-white-palletes, ad8-white)};
            --to:#{map.get(theme.$nyg-blue-palletes, ad14-blue)};

            --gradient-border: conic-gradient(from var(--border-angle), var(--from), var(--to), var(--to), var(--from));

            border: solid 5px transparent;
            background: var(--gradient-border) border-box;
            background-position: center center;
            animation: rotateQ;
            animation-duration: 2.45s;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(.9, .81, .67, .68);
        }
    }
}

@keyframes rotateQ {

    to {
        --border-angle: 1turn;

    }

}

@property --from {
    syntax: "<color>";
    inherits: true;
    initial-value: #FF0060;
    /* A shade of blue */
}

@property --to {
    syntax: "<color>";
    inherits: true;
    initial-value: #7434FF;
    /* A shade of blue */
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}


.ocs-sn2 {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 122px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate2;
    animation-duration: 2.45s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, .4, .07, .7);
    z-index: -1;
    border-radius: 3rem;
}

@keyframes animate2 {
    0% {
        transform: translateX(-100%);
        background: linear-gradient(to right, map.get(theme.$nyg-red-palletes, ad11-red)40%,
                map.get(theme.$nyg-blue-palletes, ad11-blue)100%);
    }

    // 10% {
    //     transform: translateX(-100%);
    //     background: linear-gradient(to right, map.get(theme.$nyg-red-palletes, ad11-red)50%,
    //             map.get(theme.$nyg-blue-palletes, ad11-blue)100%);
    // }

    100% {
        transform: translateX(100%);
        background: linear-gradient(to right, map.get(theme.$nyg-red-palletes, ad11-red)60%,
                map.get(theme.$nyg-blue-palletes, ad11-blue)100%);
    }
}