@use '../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.setup {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: map.get(theme.$nyg-white-palletes, ad8-white);
}