@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .nyg-form {

        background-color: map.get(theme.$nyg-white-palletes, ad8-white);
        // background-color: map.get(theme.$nyg-orange-palletes, ad5-orange);

        // border-style: solid;
        // border-width: 5px;
        border-radius: 7rem;
        border-color: map.get(theme.$nyg-black-palletes, ad1-black);
    }
}

:host {
    .nyg-header {
        color: map.get(theme.$nyg-white-palletes, ad1-white);
    }
}

:host {
    .ocs-header {
        pointer-events: none;
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
                map.get(theme.$nyg-blue-palletes, ad11-blue));

        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}

:host {
    .ocs-btn {
        background-color: map.get(theme.$nyg-white-palletes, ad8-white);

        &:active {
            background:
                linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
                    map.get(theme.$nyg-blue-palletes, ad11-blue));

            .ocs-header {
                background: map.get(theme.$nyg-white-palletes, ad1-white);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
            }

        }
    }
}