@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .fs23 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 37px;
    }
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pa {
    overflow: hidden;

}

.ocs-fs {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.ocs-xx2 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 55px;
}

.ocs-xx {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.ocs-f1 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.ocs-d {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.pa {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nyg-form {
    width: 1450px;
    height: 840px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ps {
    padding: 10px;
    display: flex;

}


.ocs-btn {
    width: fit-content;
    height: fit-content;
    border: 0px;
}

.do {
    display: block;
    width: 400px;
    height: 10px;
    background-color: pink;
}