:host {
    .ocs-step {
        width: fit-content;
        height: fit-content;
        display: flex;
        border-radius: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 10px;
    }
}

.container2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}