<div class="ocs-item">
    <div class="ocs-svg top-svg">
        <svg width="100%" height="100%" viewBox="0 0 1376 134" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <path class="ocs-co"
                d="M66.878,131.999l0,1.758l-66.878,-66.879l66.878,-66.878l0,1.758l1241.73,0l0,-1.758l66.879,66.878l-66.879,66.879l0,-1.758l-1241.73,-0Z" />
        </svg>
    </div>
    <div class="ocs-svg topx-svg">
        <svg width="100%" height="100%" viewBox="0 0 1376 134" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <path class="ocs-co"
                d="M66.878,131.999l0,1.758l-66.878,-66.879l66.878,-66.878l0,1.758l1241.73,0l0,-1.758l66.879,66.878l-66.879,66.879l0,-1.758l-1241.73,-0Z" />
        </svg>
    </div>
    <div class="ocs-bo">

        <div class="ocs-ti">
            <div>
                <span class="nyg-header">{{DisplayMin}}:</span>
            </div>
            <div>
                <span class="nyg-header">{{DisplaySec}}</span>
            </div>
        </div>
    </div>

    <div class="ocs-svg bottom-svg">
        <svg width="100%" height="100%" viewBox="0 0 1376 134" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <path class="ocs-co"
                d="M66.878,131.999l0,1.758l-66.878,-66.879l66.878,-66.878l0,1.758l1241.73,0l0,-1.758l66.879,66.878l-66.879,66.879l0,-1.758l-1241.73,-0Z" />
        </svg>
    </div>

    <div class="ocs-svg bottomx-svg">
        <svg width="100%" height="100%" viewBox="0 0 1376 134" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <path class="ocs-co"
                d="M66.878,131.999l0,1.758l-66.878,-66.879l66.878,-66.878l0,1.758l1241.73,0l0,-1.758l66.879,66.878l-66.879,66.879l0,-1.758l-1241.73,-0Z" />
        </svg>
    </div>
</div>