@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .ocs-input {
        background-color: map.get(theme.$nyg-blue-palletes, ad12-blue);
        // border-style: solid;
        // border-width: 4px;

        // & {
        //     border-color: map.get(theme.$nyg-black-palletes, ad1-black);
        // }
        & {
            color: map.get(theme.$nyg-white-palletes, ad1-white);
        }

    }
}

:host {
    .nyg-header {
        pointer-events: none;
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
                map.get(theme.$nyg-blue-palletes, ad11-blue));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}