@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .nyg-error-header {
        font-family: arial;
        font-size: 2rem;
        word-wrap: wrap;
    }
}

:host {
    .ocs-tt {
        width: 100%;
        height: 100%;
    }

    .ocs-tool-tip {
        font-family: arial;
        font-size: 1.5rem;
        pointer-events: none;
        word-wrap: wrap;
    }
}

:host {
    .ocs-input {
        width: fit-content;
        height: 69px;
        font-size: 3rem;
        font-family: arial;
        border-bottom-right-radius: 3.5rem;
        padding-right: 40px;
        border-width: 0px;
        border-style: none;
        border: 0px;
        outline-style: none;
    }
}

:host {
    fieldset {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
}

:host {
    .nyg-form-field {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

:host {
    .nyg-header {
        font-size: 5rem;
        font-family: arial;
        // border-style: double;
        // border-top: 0px;
        // border-left: 0px;
        // border-right: 0px;
        // border-width: 15px;

        // & {
        //     border-color: map.get(theme.$nyg-white-palletes, foundation-white);
        // }
    }
}