<div class="PCcontainer">
    <div class="nyg-form-PCcontainer">
        <div class="nyg-form-PCview">
            <div class="nyg-form">
                <fieldset class="nyg-form-items">
                    <div class="adjust">
                        <label>
                        </label>
                        @if (!NYGcovertRef) {

                        <div class="nyg-in-conta">
                            <input autocomplete="off" [MyTeamColor]="NYGmyTeam" class="nyg-input">
                        </div>
                        <button class="nyg-btn" [MyTeamColor]="NYGmyTeam">
                            <span class="nyg-header">G</span>
                        </button>
                        }@else {
                        <div class="ocs-fit">
                            <app-power-covert></app-power-covert>
                            <div class="nyg-in-conta">
                                <input type="password" [defaultValue]="dv" autocomplete="off" [MyTeamColor]="NYGmyTeam"
                                    class="nyg-input">
                            </div>

                        </div>

                        }

                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>