@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';


.container {
    width: 100%;
    height: 100%;
}

.nyg-se {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    border-radius: 2rem;
}

:host {
    .nyg-header {
        pointer-events: none;
    }
}

:host {
    .nyg-tag2 {
        padding: 10px;
    }
}

:host {
    .nyg-tag {
        border-right: 0px;
        border-left: 0px;
        padding: 15px;
        font-family: arial;
        border-radius: 4rem;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & {
            background-color: map.get(theme.$nyg-white-palletes, ad1-white);
        }


        & {
            color: map.get(theme.$nyg-white-palletes, white);
        }
    }
}

:host {
    .nyg-ti {
        color: map.get(theme.$nyg-white-palletes, white);

    }
}

:host {
    .nyg-header {
        font-size: 4rem;
        pointer-events: none;
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad4-red),
                map.get(theme.$nyg-blue-palletes, ad4-blue));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}