:host {
    .nyg-input {
        filter: grayscale(1);
        background-color: map.get(theme.$nyg-voilet-palletes, potrait1-voilet);
        border-style: solid;
        border-width: 5px;

        & {
            border-color: map.get(theme.$nyg-black-palletes, ad1-black);
        }
    }
}