<div class="container">
    <div class="item">
        <div class="nyg-guess-sheet">
            <div class="adjustGU nyg-head" cdkDrag>

                <div>
                    <span class="nyg-headers">
                        CHALLENGE
                    </span>
                </div>

                <div>
                    <span class="nyg-headers guess-head">
                        {{GuessSheetValue()}}
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>