@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .nyg-btn {

        & {
            border-color: map.get(theme.$nyg-black-palletes, potrait3-black);

            background-color: map.get(theme.$nyg-green-palletes, ad10-green);
        }

    }
}

.nyg-input {
    background-color: map.get(theme.$nyg-black-palletes, ad8-black);
}

:host {

    .nyg-in-conta {

        & {
            border-color: map.get(theme.$nyg-black-palletes, potrait3-black);

            background-color: map.get(theme.$nyg-green-palletes, ad10-green);
        }
    }
}