@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

.container {
    width: 100%;
    height: 100%;
}

:host {
    .nyg-header {
        font-size: 4.5rem;
        font-family: Arial;
        word-break: break-all;
        pointer-events: none;
    }
}

.container {
    width: 100%;
    height: 100%;
}

.ocs-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.X {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

:host {
    .ocs-gal {
        width: 500px;
        height: 700px;
        display: flex;
        border-radius: 2rem;
        flex-direction: column;
        gap: 10px;
        overflow-y: scroll;
        padding: 10px;
        align-items: center;
        scrollbar-width: none;

    }
}

.ocs-ga {
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 3rem;
    padding: 10px;

}

.ocs-as {
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: fit-content;
    height: fit-content;
    border-radius: 3rem;

}