@use '../../helpers/helpers.scss' as mat;
@use '../../helpers/color-palletes.scss' as theme;
@use 'sass:map';




.nyg-set {
    background-color: map.get(theme.$nyg-brown-palletes, potrait2-brown);


    & {
        border-style: solid;
        border-width: 8px;
    }

    & {
        border-color: map.get(theme.$nyg-black-palletes, umber-black);
    }
}