@use '../../helpers/helpers.scss' as mat;
@use '../../helpers/color-palletes.scss' as theme;
@use 'sass:map';


.container {
    width: 100%;
    height: 100%
}

.nyg-sheet-container {
    @include mat.setup(100%, 100%);
    @include mat.setupFlex(column, flex-start, flex-start);

    & {
        font-family: monospace;
        padding: 10px;
        border-width: 10px;

    }
}

th {
    font-weight: 100;
}

table {
    border-collapse: collapse;
}

.nyg-cheat-sheet {
    @include mat.setup(100%, 100%);
}

.nyg-res {
    @include mat.setup(100%, 100%);
    @include mat.setupFlex(row, center, center);
}

:host {
    .nyg-header {
        font-size: 3rem;
    }
}

th {
    text-indent: 0px;
    text-align: start;
    width: fit-content;
}

.nyg-set {

    th {
        text-align: center;

    }
}


td {
    padding: 10px;
    overflow: hidden;
    text-align: center;
}

.score-header {
    font-size: 4rem;
    transform: scale(2);
    pointer-events: none;

    & {
        color: map.get(theme.$nyg-black-palletes, umber-black);

    }
}

th,
td {


    & {
        width: fit-content;
        border-width: 4px;
        border-style: solid;
        border-width: 8px;
    }

    & {
        border-color: map.get(theme.$nyg-black-palletes, umber-black);
    }

    & {
        border-color: map.get(theme.$nyg-black-palletes, umber-black);
    }
}

td {
    background-color: map.get(theme.$nyg-red-palletes, potrait6-red);
}

.nyg-stats {
    background-color: map.get(theme.$nyg-red-palletes, potrait6-red);
}

.nyg-header {
    color: map.get(theme.$nyg-black-palletes, umber-black);
    pointer-events: none;
}

.nyg-set {
    th {
        border-style: solid;
        padding: 10px;
    }
}


.adjust {
    @include mat.setup(100%, 100%);
    @include mat.setupFlex(row, center, center);
}

:host {
    .nyg-res {
        .nyg-header {
            width: 100%;
            height: 100%;
            text-align: center;
            border-style: none;
            font-size: 4rem;
            transform: scale(2);
        }

        width: 120px;
    }
}

.nyg-stats {
    th {
        padding-left: 10px;
    }
}

.blue-head {
    color: map.get(theme.$nyg-blue-palletes, cerulean-dark-shade)
}

.red-head {
    color: map.get(theme.$nyg-red-palletes, dore-rose)
}