@use '../../helpers/color-palletes.scss' as theme;
@use 'sass:map';


// .ocs-prof {
//     // background-color: map.get(theme.$nyg-blue-palletes, cerulean);
//     border-style: solid;
//     border-width: 5px;
// }