@use '../../helpers/helpers.scss' as theme;
@use 'sass:map';


.ocs-set {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ocs-n {
    margin-left: -100px;
}

.ocs-set2 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}

.ocs-prof {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 2rem;
}

.setA {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}