:host {
    .ocs-outer {
        padding: 10px;
        width: fit-content;
        height: fit-content;
        transform: skew(-10deg);
        overflow: hidden;
    }
}

:host {
    .x-img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

:host {
    .img-c {
        transform: skew(10deg);
        width: 100%;
        height: 100%;
    }
}

:host {
    .ocs-hx {
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }
}

button {
    overflow: hidden;

}

:host {
    .ocs-h {
        width: 100%;
        height: 100%;
    }
}

.ocs-inner {
    width: fit-content;

    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 0.1rem;
    overflow: hidden;
    gap: 10px;
}

:host {
    .ocs-item {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

:host {
    .ocs-header {
        font-family: Arial;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

:host {
    .ocs-ti {
        border-style: double;
        border-width: 10px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
}