@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';


.ocs-item {
    background: map.get(theme.$nyg-white-palletes, ad8-white);
}


:host {
    .ocs-header {
        font-size: 7rem;
        pointer-events: none;
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
                map.get(theme.$nyg-blue-palletes, ad11-blue));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}