<div class="container">

    <div class="nyg-cap">
        <div class="nyg-outer-border">
            <div class="border">
                <div class="nyg-clock">
                    <!-- animate nyg-log as per the current time -->
                    <div class="nyg-log">
                        <div class="nyg-log-t">
                            <span class="nyg-header">NYG</span>
                        </div>
                    </div>

                    <div class="nyg-clock-item">
                        <div class="nyg-seconds">
                            <span class="nyg-header">{{displayMin}}:</span>
                        </div>
                        <div class="nyg-milliseconds">
                            <span class="nyg-header">{{displaySec}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>