@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .ocs-tt {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ocs-tool-tip {
        font-family: arial;
        font-size: 1.5rem;
        word-wrap: wrap;
        pointer-events: none;
    }
}

:host {
    .nyg-error-header {
        font-family: arial;
        font-size: 2rem;
        word-wrap: wrap;
    }
}

:host {
    .ocs-outer {
        padding: 6px;
        width: fit-content;
        height: fit-content;
        transform: skew(-10deg);
    }
}

.ocs-inner {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 0.1rem;
    gap: 10px;
}

:host {
    .ocs-item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

:host {
    .ocs-header {
        font-size: 5rem;
        font-family: Arial;

        pointer-events: none;
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
                map.get(theme.$nyg-blue-palletes, ad11-blue));

        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}

:host {
    .ocs-sub {
        font-size: 3rem;
    }
}

// :host {
//     .ocs-ti {
//         border-style: double;
//         border-width: 10px;
//         border-top: 0px;
//         border-left: 0px;
//         border-right: 0px;

//         & {
//             border-color: map.get(theme.$nyg-white-palletes, foundation-white);
//         }
//     }
// }

:host {
    .ocs-con {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        padding: 10px;
        border-radius: 0.1rem;
        gap: 10px;
        font-family: arial;
        font-size: 3rem;

    }
}