@use '../../../../helpers/color-palletes.scss' as theme;
@use '../../../../helpers/helpers.scss' as mat;
@use 'sass:map';

.ocs-items {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 4rem;
    background-color: map.get(theme.$nyg-white-palletes, ad8-white);
}

:host {
    .ocs-board {
        width: 400px;
        height: 200px;
        padding-bottom: 15px;
        padding-top: 0px;
    }
}

:host {
    .ocs-item {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        position: relative;
    }
}

._l {
    right: 50px;
}

._r {
    left: 50px;
}

:host {
    .nyg-header {
        font-size: 10rem;
        font-family: arial;
        pointer-events: none;
    }
}