@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .inner {
        position: absolute;
        width: 50px;
        height: 50px;
        background: map.get(theme.$nyg-white-palletes, ad5-white);
        margin-right: -10px;
        border-radius: 100%;
        animation-name: tog;
        animation-duration: .45s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(.9, .81, .67, .68);

    }
}

@keyframes tog {
    0% {
        transform: translateX(0%);
    }

    90% {
        transform: translateX(-20%) translateY(10%);
    }

    100% {
        transform: translateX(0%) translateY(5%);

    }
}

:host {
    .bord {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 10px;

        --gradient-border: conic-gradient(from var(--border-angle), #93E800 5%,

                #0844C6, #FF0012 99%, #F29136);
        --border-angle: 0turn; // initial-state

        border: solid 5px transparent;
        border-radius: 20px;
        background: var(--gradient-border) border-box;

        background-position: center center;
        animation: rotateQ;
        animation-duration: 3.45s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(.9, .81, .67, .68);

        box-sizing: border-box;

    }
}


@keyframes rotateQ {

    to {
        --border-angle: 1turn;

    }

}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}