@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .nyg-sco {
        font-size: 10rem;
        font-weight: bolder;
        color: map.get(theme.$nyg-green-palletes, ad5-green);
        pointer-events: none;

    }
}

:host {
    .nyg-n {
        font-size: 4rem;
    }
}