@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

.ocs-x {
    width: 950px;
    height: 950px;
}

.ocs-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ocs-monitor {
    width: 1200px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: orange;
}

.ocs-frame {
    padding: 40px;
    width: fit-content;
}

.ocs-inc {

    padding: 10px;
    width: fit-content;
}

.nyg-input {
    width: fit-content;
    height: fit-content;
    outline-style: none;
    border-style: none;
    font-size: 6rem;
    font-family: Arial;
    font-weight: 900;
    background-color: green;
    border-radius: 4rem;
}

:host {
    input:focus {
        border: 0px;
        outline: none;
    }
}