<div class="Mcontainer">
    <div class="nyg-Mcontainer">

        <div class="nyg-stand X0">
            <div class="n">

                <button class="nav-outer-border">

                    <div class="nav-inner-border PN-class">

                        <div class="nyg-btn" (click)="Play()">
                            <span class="nyg-header">
                                PLAY NOW
                            </span>
                        </div>
                    </div>

                </button>

                <div class="nyg-inf">
                    <span class="nyg-header2">HOME</span>
                </div>
            </div>

        </div>

        <div class="nyg-stand X1">
            <div class="n">

                <button class="nav-outer-border">

                    <div class="nav-inner-border QM-class">

                        <div class="nyg-btn" (click)="_Join()">
                            <span class="nyg-header">
                                QUICK MATCH
                            </span>
                        </div>
                    </div>

                </button>

                <div class="nyg-inf">
                    <span class="nyg-header2">CONNECT</span>
                </div>
            </div>

        </div>

        <div class="nyg-stand X2">
            <div class="n">

                <button class="nav-outer-border">

                    <div class="nav-inner-border MR-class">

                        <div class="nyg-btn" (click)="_Make()">
                            <span class="nyg-header">
                                MY ROOM
                            </span>
                        </div>
                    </div>

                </button>

                <div class="nyg-inf">
                    <span class="nyg-header2">CREATE</span>
                </div>
            </div>

        </div>

        <div class="nyg-stand X3">
            <div class="n">

                <button class="nav-outer-border">

                    <div class="nav-inner-border S-class">

                        <a class="nyg-btn" routerLink="[/Settings]" (click)="_Settings()">
                            <span class="nyg-header">
                                SETUP
                            </span>
                        </a>
                    </div>

                </button>

                <div class="nyg-inf">
                    <span class="nyg-header2">OPTION</span>
                </div>
            </div>

        </div>

    </div>
</div>