@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.oc {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10rem;
}

:host {
    .oc {
        --gradient-border: conic-gradient(from var(--border-angle), #6F09E8 2%,

                #D6DCE8, #1AD6C2 99%, #F29136);
        --border-angle: 0turn; // initial-state

        border: solid 5px transparent;
        background: var(--gradient-border) border-box;

        background-position: center center;
        animation: rotateQ;
        animation-duration: .45s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(.9, .81, .67, .68);
    }
}


@keyframes rotateQ {

    to {
        --border-angle: 1turn;

    }

}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

// :host {
//     .ocs-park {
//         animation: beat;
//         animation-duration: 2.45s;
//         animation-iteration-count: infinite;
//         animation-timing-function: cubic-bezier(.9, .81, .67, .68);
//         background-color: map.get(theme.$nyg-black-palletes, ad1-black);
//         ;
//     }
// }

@keyframes beat {
    0% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1.1);
    }
}

:host {
    .oc {
        animation: on-enter;
        animation-duration: 2.45s;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(.9, .81, .67, .68);

    }
}

@keyframes on-enter {
    0% {
        transform: scale(4);
    }

    100% {
        transform: scale(1);
    }
}