@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .ocs-item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        // overflow: hidden;
    }
}

:host {
    .ocs-x {
        width: 800px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
}

.color-xx {
    background-color: white;
}

:host {
    .ocs-y {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}

button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

:host {
    .ocs-a {
        width: 100%;
        height: 100%;
        transform: skew(10deg);
        background-color: green;
        padding: 10px;
    }
}

:host {
    .nyg-header {
        font-size: 8rem;
        font-family: arial;
        font-weight: bolder;
        pointer-events: none;

    }
}

button {
    border: 0px;
    margin: 0px;
    border-radius: 4rem;
}