<app-playground [NYGtimeout]="OCStimeout" [OCSstartClock]="OCSstartClock" [NYGboardTheme]="OCSboardTheme"
    [NYGguessTheme]="OCSguessTheme" [NYGfinalBoss]="NYGfinalBoss" [NYGlastDance]="NYGlastDance" [NYGonFire]="NYGonFire"
    [NYGClash]="NYGClash" [NYGchances]="NYGChances" [NYGredScore]="NYGredScore" [NYGblueScore]="NYGblueScore"
    [NYGroundOver]="NYGroundOver" [NYGset]="NYGset" [NYGround]="NYGround" [NYGpowerActivated]="NYGpowerActivated"
    [NYGfriend]="NYGfriend" [NYGmyroom]="NYGmyroom" [NYGrewindRestart]="NYGrewindRestart"
    [NYGuseRewindPower]="NYGuseRewindPower" [NYGuseCovertPower]="NYGuseCovertPower" [NYGunFreeze]="NYGunFreeze"
    [NYGunderTast]="NYGunderTast" [NYGmyTeam]="NYGmyTeam" [OCSgameTime]="OCSgameTime" [NYGTime]="OCSgameTime"
    (NYGtimerStopper)="StopTime($event)"></app-playground>