@use '../../../helpers/color-palletes.scss' as theme;
@use '../../../helpers/helpers.scss' as mat;
@use 'sass:map';

:host {
    .nyg-input {
        width: fit-content;
        padding-top: 5px;
        font-size: 4rem;
        font-family: arial;
        border-bottom-right-radius: 4rem;
        padding-right: 40px;
    }
}

:host {
    fieldset {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
}

:host {
    .nyg-form-field {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }
}

:host {
    .nyg-header {
        font-size: 3rem;
        font-family: arial;
        border-style: double;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-width: 10px;
    }
}