<div class="container">
    <svg width="100%" height="100%" viewBox="0 0 3508 2402" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
        <g id="back">
            <rect x="0" y="0" width="217.23" height="2401.75" style="fill:#370d00;" />
            <rect x="366.373" y="0" width="217.23" height="2401.75" style="fill:#370d00;" />
            <rect x="719.778" y="0" width="217.23" height="2401.75" style="fill:#370d00;" />
            <rect x="1086.15" y="0" width="217.23" height="2401.75" style="fill:#370d00;" />
            <rect x="1455.77" y="0" width="217.23" height="2401.75" style="fill:#370d00;" />
            <rect x="1822.14" y="0" width="217.23" height="2401.75" style="fill:#370d00;" />
            <rect x="2201.48" y="0" width="217.23" height="2401.75" style="fill:#370d00;" />
            <rect x="2567.86" y="0" width="217.23" height="2401.75" style="fill:#370d00;" />
            <rect x="2859.79" y="0" width="217.23" height="2401.75" style="fill:#370d00;" />
            <rect x="3226.17" y="0" width="217.23" height="2401.75" style="fill:#370d00;" />
        </g>
        <g id="out">
            <rect x="64.477" y="0" width="217.23" height="2401.75" style="fill:#ba0722;" />
            <rect x="430.85" y="0" width="217.23" height="2401.75" style="fill:#ba0722;" />
            <rect x="784.254" y="0" width="217.23" height="2401.75" style="fill:#ba0722;" />
            <rect x="1150.63" y="0" width="217.23" height="2401.75" style="fill:#ba0722;" />
            <rect x="1520.24" y="0" width="217.23" height="2401.75" style="fill:#ba0722;" />
            <rect x="1886.62" y="0" width="217.23" height="2401.75" style="fill:#ba0722;" />
            <rect x="2265.96" y="0" width="217.23" height="2401.75" style="fill:#ba0722;" />
            <rect x="2632.33" y="0" width="217.23" height="2401.75" style="fill:#ba0722;" />
            <rect x="2924.27" y="0" width="217.23" height="2401.75" style="fill:#ba0722;" />
            <rect x="3290.64" y="0" width="217.23" height="2401.75" style="fill:#ba0722;" />
        </g>
        <foreignObject width="100%" height="100%" x="40%" y="50%">
            <div class="nyg-se">
                <div class="nyg-tag2">
                    <div class="nyg-tag">
                        <div class="nyg-ti">
                            <span class="nyg-header">
                                {{NYGtitle}}
                            </span>
                        </div>
                        <div class="ocs-x">
                            <div class="nyg-ti">
                                <span class="nyg-header">
                                    {{NYGsubTitle}}
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </foreignObject>
    </svg>
</div>