@use '../../helpers/helpers.scss' as mat;
@use '../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .containerX {
        width: 100%;
        height: 100%;
    }
}

:host {

    .item {
        @include mat.setup(fit-content, fit-content);
        @include mat.setupFlex(row, flex-start, flex-start);
    }
}

:host {

    .nyg-sheet {

        @include mat.setupFlex(column, center, center);

        & {
            height: 100%;
            width: fit-content;
            border: 0px;
            border-radius: 20px;
            border-style: solid;
            border-width: 5px;
            overflow: hidden;
        }

        & {
            border-color: map.get(theme.$nyg-black-palletes, umber-black);
        }

        & {
            background-color: map.get(theme.$nyg-yellow-palletes, turner-yellow);
        }

    }
}

:host {
    .nyg-header {
        font-size: 4rem;

        & {
            color: map.get(theme.$nyg-black-palletes, umber-black);
        }
    }
}