@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .nyg-item {
        background-color: map.get(theme.$nyg-black-palletes, potrait3-black);
    }
}

:host {
    .nyg-header {
        color: map.get(theme.$nyg-white-palletes, ad1-white);

    }
}

:host {
    .nyg-item {
        width: fit-content;
        height: fit-content;

    }
}

:host {
    .outer-dis {
        background-color: map.get(theme.$nyg-black-palletes, ad2-black);

    }
}

:host {
    .red-head {

        color: map.get(theme.$nyg-red-palletes, ad1-red);
    }

    .blue-head {
        transform: scaleX(-1);

        color: map.get(theme.$nyg-blue-palletes, potrait7-blue);
    }
}