@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .left-letters {
        @for $i from 1 through 4 {
            :nth-of-type(#{$i}) {
                text-shadow:

                    -8px 2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    -8px -2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    // full font outline
                    -1px 2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    1px 2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    2px 2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    2px -2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    -4px 2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    -4px -2px 0 map.get(theme.$nyg-black-palletes, potrait3-black);

            }
        }
    }
}

:host {
    .right-letters {

        @for $i from 1 through 4 {
            :nth-of-type(#{$i}) {
                text-shadow:

                    -8px 2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    -8px -2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    // full font outline
                    -1px 2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    1px 2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    2px 2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    2px -2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    -4px 2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    -4px -2px 0 map.get(theme.$nyg-black-palletes, potrait3-black);

            }
        }

    }
}

.nyg-nav {
    width: fit-content;
    height: fit-content;
    background-color: map.get(theme.$nyg-white-palletes, ad6-white);
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-style: solid;
    border-width: 5px;
    border-radius: 2rem;
    overflow: hidden;
}

.j-btn {
    background-color: map.get(theme.$nyg-blue-palletes, ad2-blue);

}

.m-btn {
    background-color: map.get(theme.$nyg-voilet-palletes, ad4-voilet);

}

:host {
    .j-btn {
        border-style: solid;
        border-right: 0px;
        border-width: 5px;
    }
}

:host {
    .m-btn {
        border-style: solid;
        border-width: 5px;
        border-left: 0px;
    }
}

.guide {
    background-color: map.get(theme.$nyg-black-palletes, potrait3-black);
}

:host {
    .x1 {
        border-style: solid;
        border-width: 5px;
        border-left: 0px;
        border-top: 0px;
        border-bottom: 0px;
    }
}

:host {
    .x2 {
        border-style: solid;
        border-width: 5px;
        border-right: 0px;
        border-top: 0px;
        border-bottom: 0px;
    }
}

:host {
    .letters {
        color: map.get(theme.$nyg-white-palletes, ad1-white);


    }
}

:host {
    .letters-container {
        @for $i from 1 through 4 {
            :nth-of-type(#{$i}) {
                text-shadow:

                    -8px 2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    -8px -2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    // full font outline
                    -1px 2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    1px 2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    2px 2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    2px -2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    -4px 2px 0 map.get(theme.$nyg-black-palletes, potrait3-black),
                    -4px -2px 0 map.get(theme.$nyg-black-palletes, potrait3-black);

            }
        }
    }
}