@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';


:host {
    .container {
        width: 100%;
        height: 100%;

        & {
            outline-color: map.get(theme.$nyg-black-palletes, umber-black);
        }
    }
}

:host {
    .nyg-container {
        @include mat.setup(100%, 100%);
        @include mat.setupFlex(row, center, center, );
        padding: 10px;
    }
}


:host {
    .nyg-nav-container {
        @include mat.setup(fit-content, fit-content, flex);
        @include mat.setupFlex(row, center, center, );

        & {
            overflow: hidden;
        }
    }
}

:host {
    .letters-container {
        @include mat.setup(fit-content, 100%, flex);
        @include mat.setupFlex(column, center, center, );

        & {
            font-size: 9rem;
            font-family: arial;
        }
    }
}


:host {

    .letter {
        @include mat.setup(fit-content, 100%, flex);
        @include mat.setupFlex(column, center, center, );
    }
}

:host {

    .nyg-button {
        width: fit-content;
        border: 0px;
    }
}

:host {

    .letters {
        padding-right: 90px;
        padding-left: 90px;
    }
}

:host {
    .letters-adjust2 {
        padding-right: 40px;
        padding-left: 40px;
    }
}

:host {
    .nyg-nav-container-adjust {
        flex-direction: row-reverse;
        margin: 10px;
    }
}


:host {
    .letters-adjust {
        padding-right: 100px;
        padding-left: 100px;
        margin: -11px;
    }
}

:host {
    .button-container {
        overflow: hidden;
    }
}

.join-letters {

    :nth-of-type(2) {
        padding-bottom: 2px;
        padding-top: 0px;
    }
}

:host {
    .nyg-button-header {
        overflow: visible;
    }
}

.letter {
    overflow: visible;
}

:host {
    .left-letters {
        pointer-events: none;
    }
}

:host {
    .right-letters {
        pointer-events: none;
    }
}