<div class="container">

    <div class="ocs-prof">
        <div class="ocs-set">
            <div style="z-index: 1;">
                <app-ocs-img [OCSPicURL]="OCSImageURL"></app-ocs-img>
            </div>

            <div class="ocs-n">
                <app-ocs-nme [OCSname]="OCSname()"></app-ocs-nme>
            </div>
            <!-- <div>
                <app-ocs-det OCStitle="RATING" [OCSsubTitle]="OCSrating()"></app-ocs-det>
            </div> -->
        </div>

        <!-- <div class="setA">
            <div class="ocs-set2">
                <!-- <app-ocs-det OCStitle="RECORD" [OCSsubTitle]="OCSrecord()"></app-ocs-det> 
                <app-ocs-det OCStitle="POINTs" [OCSsubTitle]="OCSpoints()"></app-ocs-det>
            </div>
        </div> -->

        <!-- <div class="ocs-set2">
            <div class="ocs-set2">
                <!-- <app-ocs-det OCStitle="RECORD" [OCSsubTitle]="OCSrecord()"></app-ocs-det> 
                <app-ocs-det OCStitle="POINTs" [OCSsubTitle]="OCSpoints()"></app-ocs-det>
            </div>
            <app-ocs-det OCStitle="TIER" [OCSsubTitle]="OCStier()" [OCSuseImage]="true"
                [OCSImgSrc]="OCSImagePath()"></app-ocs-det>
            <app-ocs-det OCStitle="GAMEs PLAYED" [OCSsubTitle]="OCSgamesPlayed()"></app-ocs-det>
        </div> -->

    </div>

    <div>