<div class="container">
    <div class="nyg-form-field" appOnMode [toColor]="toColor" [fromColor]="fromColor" [bg]="bg">
        <div class="nyg-label">
            <span class="nyg-header" appOnMode [toColor]="toColor" [fromColor]="fromColor" [bg]="bg">
                LIVE
            </span>
        </div>
        <div class="nyg-display">
            <span class="nyg-header1" appOnMode [toColor]="toColor" [fromColor]="fromColor"
                [bg]="bg">{{NYGCount()}}</span>
        </div>
    </div>
</div>