<div class="container">

    <div class="nyg-se">
        <div class="nyg-tag2">
            <mat-card class="nyg-tag" appOnMode [toColor]="toColor" [fromColor]="fromColor" [bg]="bg">
                <mat-card-title class="nyg-ti">
                    <span class="nyg-header" appOnMode [toColor]="toColor" [fromColor]="fromColor" [bg]="bg">
                        {{NYGtitle}}
                    </span>
                </mat-card-title>
                <div class="ocs-x">
                    <mat-card-subtitle class="nyg-ti">
                        <span class="nyg-header" appOnMode [toColor]="toColor" [fromColor]="fromColor" [bg]="bg">
                            {{NYGsubTitle}}
                        </span> </mat-card-subtitle>

                </div>
            </mat-card>
        </div>

    </div>
</div>