@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .ocs-x {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        // overflow: hidden;
    }
}

.ocs-y {
    padding: 10px;
}

.ocs-mark {
    transform: translate(50px, 50px);
}

:host {
    .ocs-op {
        position: relative;
        background-color: orange;
        bottom: 100px;
        width: 100%;
        height: 100%;
    }
}

:host {
    .ocs-xx {
        width: fit-content;
        height: fit-content;
        position: relative;
        // overflow: hidden;
        background-color: map.get(theme.$nyg-white-palletes, ad8-white);

    }
}

:host {
    .ocs-o {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

:host {
    .ocs-pe {
        width: 300px;
        height: 300px;

    }
}

:host {
    .ocs-p {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

button {
    border: 0px;
    margin: 0px;
}