@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';


.outer-bordr {
    width: fit-content;
    height: fit-content;
    background:
        linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
            map.get(theme.$nyg-blue-palletes, ad11-blue));
    background-size: 200% 100%;
    animation: chekd 0.76s cubic-bezier(1, .4, .07, .7) infinite;

}


@keyframes chekd {
    0% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 100% 0%;
    }
}