@use '../../../helpers/color-palletes.scss' as theme;
@use '../../../helpers/helpers.scss' as mat;
@use 'sass:map';

:host {
    button {
        background-color: map.get(theme.$nyg-white-palletes, ad8-white);
    }
}

:host {
    .nyg-li {

        .nyg-header {
            color: map.get(theme.$nyg-white-palletes, ad1-white);
        }
    }
}

:host {
    .outer-bordr {
        overflow: visible;
    }
}

:host {
    .border {
        background-color: map.get(theme.$nyg-white-palletes, ad1-white);
    }
}

:host {
    .nyg-input:checked {
        background-color: black;
    }
}

:host {
    .nyg-header {
        pointer-events: none;
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
                map.get(theme.$nyg-blue-palletes, ad11-blue));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}

:host {
    .ocs-rate-shape {
        width: 10%;
        height: 20%;
    }
}

:host {
    .nyg-li:active {
        transition-property: background;
        transition-duration: 0.46s;
        transition-timing-function: cubic-bezier(1, .4, .07, .7);
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
                map.get(theme.$nyg-blue-palletes, ad11-blue));

        .nyg-header {
            pointer-events: none;
            background: white;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
        }
    }
}