@use '@angular/material' as mat;
@use './pallates.scss' as pal;

$my-primary: mat.m2-define-palette(pal.$my-primary, 200);
$my-accent: mat.m2-define-palette(pal.$my-primary, A100, A200, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

$my-theme: mat.m2-define-light-theme((color: (primary: $my-primary,
        accent: $my-primary,
        warn: $my-warn,
      ),
      typography: mat.m2-define-typography-config(),
      density: 0,
    ));
@include mat.all-component-themes($my-theme);