$my-primary: (
  50: #202b2e,
  100: #bd7e7e,
  200: #3b454a,
  300: #68f74f,
  400: #62001c,
  500:rgb(244, 3, 152),
  600: #039be5,
  700:rgb(192, 209, 2),
  800: #0277bd,
  900: #9b4e01,
  A100: #ffb114,
  A200: #ff9940,
  A400:rgb(145, 178, 193),
  A700:rgb(113, 226, 102),
  contrast: (50: rgba(0, 0, 0, .87),
    100: rgba(0, 0, 0, .87),
    200: rgba(0, 0, 0, .87),
    300: rgba(0, 0, 0, .87),
    400: rgba(0, 0, 0, .87),
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff, // Corrected key
    900: #fff,
    A100: rgba(140, 184, 90, 0.87),
    A200: rgba(32, 94, 202, 0.87),
    A400: rgba(175, 37, 37, 0.87),
    A700: #ffffff)
);