@use '../../helpers/helpers.scss' as mat;
@use '../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.nyg-stand {
    transform: skew(-5deg);
}

:host {
    .nav-outer-border {

        width: 250px;
        height: 250px;
        rotate: -20deg;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 0px;
        padding: 10px;
    }
}

:host {
    .nav-inner-border {
        width: 210px;
        height: 210px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

    }
}

:host {
    .nyg-btn {
        rotate: -20deg;
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 10px;
        border-radius: 2rem;
        text-decoration: none;
    }
}

:host {
    .nyg-header {
        color: map.get(theme.$nyg-white-palletes, foundation-white);

        // color: map.get(theme.$nyg-white-palletes, creamize-white);
        // text-shadow:
        //     3px 2px 0 map.get(theme.$nyg-black-palletes, umber-black);
        pointer-events: none;
        font-weight: 700;
        font-family: Calibri;
    }

    .nyg-header2 {
        font-size: 4rem;
        pointer-events: none;
        color: map.get(theme.$nyg-white-palletes, ad1-white);

    }
}