@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .nyg-headerT {
        pointer-events: none;
        background:
            linear-gradient(to left, map.get(theme.$nyg-brown-palletes, ad4-brown),
                map.get(theme.$nyg-yellow-palletes, ad7-yellow));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bolder;
    }
}

:host {
    .ocs-ti {
        background: map.get(theme.$nyg-black-palletes, ad8-black);
    }
}

:host {
    .nyg-header {
        pointer-events: none;

        background:
            linear-gradient(to left, map.get(theme.$nyg-brown-palletes, ad4-brown),
                map.get(theme.$nyg-yellow-palletes, ad7-yellow));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bolder;
    }
}