@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.ocs-xx:hover {
    padding: 10px;
    overflow: hidden;

    #red-pen {
        transform: translate(-40%, 0%) scale(1.3);
        transition-property: transform;
        transition-duration: 0.45s;
        transition-timing-function: cubic-bezier(.46, .31, .48, .14);

    }

    #blue-pen {
        transform: translate(20%, 0%) scale(1.3);
        transition-property: transform;
        transition-duration: 0.45s;
        transition-timing-function: cubic-bezier(.46, .31, .48, .14);

    }

    .ocs-p {
        transform: scale(1.3);
        transition-property: transform;
        transition-duration: 0.45s;
        transition-timing-function: cubic-bezier(.46, .31, .48, .14);

    }

    #bottom-2,
    #bottom-1,
    #top-1,
    #top-2,
    #mid {
        animation-play-state: paused;
    }
}

#bottom-2,
#top-2 {
    animation-name: right;
    animation-duration: 2.49845s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.46, .31, .48, .14);
    animation-fill-mode: forwards;
}

#top-1,
#bottom-1,
#mid {
    animation-name: left;
    animation-duration: 2.49845s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


@keyframes left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);

    }

}

@keyframes right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);

    }

}


.ocs-name {
    animation-name: run_;
    animation-duration: 4.49845s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.46, .31, .48, .14);
    animation-fill-mode: forwards;
}

@keyframes run_ {
    0% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(55%);
        ;

    }

    100% {
        transform: translateX(0)
    }
}