@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .ocs-select {
        background-color: map.get(theme.$nyg-blue-palletes, ad4-blue);
        background-color: map.get(theme.$nyg-blue-palletes, ad12-blue);
        // border-width: 10px;
        outline-style: none;
        border-style: none;

        & {
            color: map.get(theme.$nyg-white-palletes, ad1-white);
        }

        & {
            border-color: map.get(theme.$nyg-black-palletes, ad1-black);
        }
    }
}

:host {
    .ocs-og {
        background-color: map.get(theme.$nyg-white-palletes, white);
        border-style: none;
        outline-style: none;

        & {
            color: map.get(theme.$nyg-black-palletes, ad1-black);
        }
    }
}

:host {
    .nyg-header {
        pointer-events: none;
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
                map.get(theme.$nyg-blue-palletes, ad11-blue));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}