@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';


:host {
    .ocs-tt {
        width: 100%;
        height: 100%;
    }

    .ocs-tool-tip {
        font-family: arial;
        font-size: 1.5rem;
        pointer-events: none;
        word-wrap: wrap;
    }
}

:host {
    .nyg-error-header {
        font-family: arial;
        font-size: 2rem;
        word-wrap: wrap;
    }
}

:host {
    .nyg-form-field {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

:host {
    .ocs-select {
        width: 600px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        appearance: none;
        text-align: center;
        font-size: 3rem;
        font-family: arial;
        // transform: skew(-10deg);
        border-bottom-right-radius: 3.5rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
}

:host {
    .outer-bo {
        transform: skew(-10deg);

    }
}

:host {
    select option::checkmark {
        content: "";
    }
}

.nyg-header {
    font-size: 6rem;
    font-family: arial;
    // border-style: double;
    // border-top: 0px;
    // border-left: 0px;
    // border-right: 0px;
    // border-width: 15px;

    // & {
    //     border-color: map.get(theme.$nyg-white-palletes, foundation-white);
    // }
}

:host {
    fieldset {
        padding: 0px;
        border: 0px;
        margin: 0px;
    }
}

:host {
    .ocs-og {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}