@use "../../view-cheat-sheet/touchup/view-cheat-sheet" as *;
@use "../../../../node_modules/@angular/material/core/style/_vendor-prefixes" as *;
@use "../../view-sheet/touchup/view-sheet" as *;
@use "../../../../node_modules/@angular/material/autocomplete/_autocomplete-theme" as *;
@use '../../helpers/helpers.scss' as mat;
@use '../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.setup {
    width: 600px;
    height: 600px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    outline-style: solid;
    outline-width: 40px;

    & {
        background-color: map.get(theme.$nyg-red-palletes, potrait6-red);

    }
}

:host {
    .border {
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 650px;
        height: 650px;
        background-color: red;

        & {
            background-color: map.get(theme.$nyg-black-palletes, umber-black);

        }
    }
}

:host {
    .nyg-headera {
        font-size: 4rem;
        padding: 10px;

        & {
            color: map.get(theme.$nyg-black-palletes, umber-black);
        }
    }
}

:host {
    .nyg-btnx {
        width: fit-content;
        height: fit-content;
        border-radius: 50px;
        border: 0px;
        overflow: hidden;
        border-style: solid;
        border-width: 10px;

        & {
            background-color: map.get(theme.$nyg-brown-palletes, potrait2-brown);
        }

        & {
            border-color: map.get(theme.$nyg-black-palletes, umber-black);

        }
    }
}