:host {
    .ocs-outer {
        padding: 6px;
        width: fit-content;
        height: fit-content;
        transform: skew(-10deg);
    }
}


.ocs-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.ocs-inner {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 0.1rem;
    gap: 10px;
}

:host {
    .ocs-item {
        width: fit-content;
        height: fit-content;

    }
}

:host {
    .ocs-header {
        font-size: 3rem;
        font-family: Arial;
        pointer-events: none;
    }
}

:host {
    .ocs-sub {
        font-size: 5rem;
    }
}

// :host {
//     .ocs-ti {
//         border-style: double;
//         border-width: 10px;
//         border-top: 0px;
//         border-left: 0px;
//         border-right: 0px;
//     }
// }

.ocs-img-item {
    flex-direction: column;
}