@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.ocs-lis {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    align-items: flex-end;
}

.ocs-it {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:host {
    .ocs-x {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

:host {
    .ocs-list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.ocs-item {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: red;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}