@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

button {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

.ocs-indox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ocs-l {
    width: 70px;
    height: 70px;

}

.nyg-header {
    font-size: 3rem;
    font-family: arial;
}