@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.ocs-dummy {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ocs-col {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


.ocs-row {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.ocs-pow {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ocs-acord {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

:host {
    .ocs-acord-item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }
}

:host {
    .ocs-btn {
        width: 400px;
        height: fit-content;
        background-color: transparent;
        border: 0px;
        margin: 0px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

:host {
    .ocs-header {


        border-style: double;
        border-color: black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-width: 20px;
    }
}

:host {
    .ocs-paper {
        background-color: map.get(theme.$nyg-white-palletes, ad8-white);
        padding: 10px;
    }
}

:host {
    .ocs-adjustx {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.ocs-headerx {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:host {
    .ocs-headera {
        font-family: arial;
        font-size: 4rem;
    }
}

:host {
    .ocs-x {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

:host {
    .ocs-img-contx {
        width: 450px;
        height: 420px;
    }
}

:host {
    .ocs-img-contA {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
}