.ocs-y {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.ocs-x {
    width: fit-content;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.ocs-ax {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.nyg-header {
    font-family: arial;
    font-size: 4rem;
}

.setD {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    gap: 10px;

}