@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.left-ar {
    animation-name: move;
    animation-duration: 2.15s;
    animation-timing-function:
        cubic-bezier(.9, -0.34, .79, 1.83);
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.right-ar {
    animation-name: move2;
    animation-duration: 2.15s;
    animation-timing-function:
        cubic-bezier(.9, -0.34, .79, 1.83);

    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes move {
    100% {
        transform: translateX(-100%);
    }
}

@keyframes move2 {
    100% {
        transform: translateX(100%);
    }
}