@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.ocs-arrow-cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ocs-x-arrow {
    width: 800px;
    height: 500px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:host {
    .xssr {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.ocs-arrow {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
}


.left-ar {
    fill: map.get(theme.$nyg-red-palletes, ad4-red);
}

.right-ar {
    fill: map.get(theme.$nyg-blue-palletes, ad5-blue);

}