@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.container {
    width: 100%;
    height: 100%;
}

:host {
    .ocs-outer-bod {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}

:host {
    .ocs-item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: white;


    }
}

:host {
    .ocs-header {
        width: 100%;
        font-family: arial;
        font-size: 4rem;
        letter-spacing: -3px;
        pointer-events: none;
        color: map.get(theme.$nyg-white-palletes, ad1-white);

        font-weight: bolder;
    }
}

:host {
    .ocs-header1 {
        padding: 10px;

        font-family: arial;
        font-size: 4rem;
        letter-spacing: -3px;
        pointer-events: none;
        color: map.get(theme.$nyg-white-palletes, ad1-white);
        font-style: italic;
        font-weight: bolder;
    }
}