@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .nyg-item {
        background-color: map.get(theme.$nyg-green-palletes, ad5-green);
    }
}



:host {
    .nyg-header {
        color: map.get(theme.$nyg-white-palletes, ad1-white);
        pointer-events: none;

    }
}

:host {
    .nyg-item {
        width: fit-content;
        height: fit-content;

    }
}

:host {
    .nyg-score {
        font-weight: bolder;
        color: map.get(theme.$nyg-white-palletes, white);
        text-shadow:
            -8px 2px 0 map.get(theme.$nyg-black-palletes, ad1-black),
            -8px -2px 0 map.get(theme.$nyg-black-palletes, ad1-black),
            // full font outline
            -1px 2px 0 map.get(theme.$nyg-black-palletes, ad1-black),
            1px 2px 0 map.get(theme.$nyg-black-palletes, ad1-black),
            2px 2px 0 map.get(theme.$nyg-black-palletes, ad1-black),
            2px -2px 0 map.get(theme.$nyg-black-palletes, ad1-black),
            -4px 2px 0 map.get(theme.$nyg-black-palletes, ad1-black),
            -4px -2px 0 map.get(theme.$nyg-black-palletes, ad1-black);
    }
}

:host {
    .outer-dis {
        background: map.get(theme.$nyg-voilet-palletes, ad1-voilet);

    }
}

:host {
    .red-head {
        font-weight: bold;
        pointer-events: none;
        background:
            linear-gradient(to right, map.get(theme.$nyg-voilet-palletes, ad7-voilet),
                map.get(theme.$nyg-red-palletes, ad7-red),
            );
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .blue-head {
        font-weight: bold;
        transition-property: background;
        transition-duration: 0.54s;
        transition-timing-function:
            cubic-bezier(.9, .81, .67, .68);

        background:
            linear-gradient(to right, map.get(theme.$nyg-blue-palletes, potrait7-blue),
                map.get(theme.$nyg-blue-palletes, ad6-blue));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


:host {
    .bord {

        // background-color: map.get(theme.$nyg-blue-palletes, potrait5-blue);
        transform: skew(-13deg);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}