@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .nyg-header {
        pointer-events: none;
    }
}

:host {
    .container {
        width: 100%;
        height: 100%;
    }
}


:host {
    .nyg-teamsb {
        @include mat.setup(100%, 100%);
        @include mat.setupFlex(row, flex-start, center);
    }
}

:host {
    .nyg-item {
        @include mat.setup(100%, 100%);
        @include mat.setupFlex(row, flex-start, center);

    }
}

:host {
    .bord {
        @include mat.setup(fit-content, fit-content);
        @include mat.setupFlex(column, center, center);

    }
}

:host {
    .nyg-cont-item {
        @include mat.setup(100%, 100%);
        @include mat.setupFlex(column, center, center);

    }
}