@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .nyg-lheader {
        font-size: 3rem;
        font-family: arial;
        font-weight: bolder;
        color: map.get(theme.$nyg-white-palletes, ad1-white);
        pointer-events: none;
    }
}