@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .ba {
        display: flex;
        width: 100%;
        height: 100%;

        flex-direction: row;
    }
}

// :host {
//     .nyg-item {
//         border-style: solid;
//         border-width: 5px;
//     }
// }


:host {
    .red-t {
        // border-style: solid;
        // border-width: 5px;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;

    }
}

:host {
    .nyg-t {
        @include mat.setup(100%, 100%);
        @include mat.setupFlex(row, flex-start, flex-start);
        gap: 10px;
    }
}

:host {
    .nyg-header {
        padding-right: 10px;
    }
}

:host {
    .blu-t {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
    }
}

:host {
    .nyg-dx {
        @include mat.setup(100%, 100%);
        @include mat.setupFlex(row, center, center);
        gap: 10px;
    }
}

:host {
    .nyg-tn {
        @include mat.setup(100%, 100%);
        @include mat.setupFlex(column, center, center);
        gap: 0px;
    }
}

:host {
    .nyg-d {
        width: 130px;
        height: 55px;
        background-color: map.get(theme.$nyg-white-palletes, ad1-white);
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // padding: 5px;
    }
}

:host {
    .x {
        width: 100%;
        height: 100%;

    }
}

:host {
    .nyg-header {
        font-size: 5rem;
        font-family: Arial;
    }
}

:host {
    .outer-dis {
        width: 100%;
        height: 100%;
    }
}

:host {
    .nyg-bx {
        width: 100%;
        height: 100%;

        .nyg-header {
            font-size: 5.5rem;
        }

    }
}

:host {
    .nyg-sco {
        font-size: 6rem;
    }
}