.ocs-img-item {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    overflow: hidden;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 5px;
}

.outer {
    padding: 5px;
    background-color: pink;
    border-radius: 100%;
}

.ocs-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 100%;
}

.ocs-img-cont {
    width: fit-content;
    height: fit-content;
}