@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.container {
    width: 100%;
    height: 100%;
}

.ocs-bars {
    display: block;
    width: 15px;
    height: 100px;
}

.ocs-b {
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.ocs-a {
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.ocs-b_ {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.ocs-Bar {
    width: 400px;
}

:host {
    .nyg-header {
        font-size: 4rem;
        font-family: arial;
        font-weight: bold;
        pointer-events: none;
        color: map.get(theme.$nyg-black-palletes, ad4-black);
    }
}

.ocs-sprit {
    display: flex;
    width: 100%;
    max-width: 400px;
    height: 50px;
    flex-direction: row;
    overflow: hidden;
    background-color: map.get(theme.$nyg-white-palletes, ad7-white);
}


:host {
    .ocs-sprit {
        overflow: hidden;
        background-size: 200%;
    }
}

.slot {
    flex: 1;
    border-width: 2px;
    border-style: solid;
}