.container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: flex;
}

.ocs-boards {
    width: 1500px;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    background-color: rgba(#310ead11, 10%);
}

.setA {
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
}

.ocs-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.setB {
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.setX {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}