@use '../../../../helpers/color-palletes.scss' as theme;
@use '../../../../helpers/helpers.scss' as mat;
@use 'sass:map';

.ocs-text {
    background-color: map.get(theme.$nyg-blue-palletes, ad12-blue);

}


.ocs-bo {
    background-color: map.get(theme.$nyg-white-palletes, ad8-white);
}

.ocs-bg {
    background-color: map.get(theme.$nyg-white-palletes, ad8-white);
}