@use "sass:map";

$nyg-green-palletes: (
    moss-green:#262706,
    moss-green-light-shade:#7F762B,
    moss-green-dark-shade: #292207,
    olive-green:#78A14D,
    olive-green-dark-shade:#789D52,
    cobalt-green-light-shade:#034831,
    cobalt-green:#253A36,
    cobalt-green-feint-shade:#DBE4E1,
    permanent-sap-green:#292931,
    permanent-sap-green-light-shade:#143E31,
    cadium-green:#719502,
    cadium-green-light-shade:#869F1F,
    italian-green-umber:#66622E,
    italian-green-umber-feint-shade:#808045,
    italian-green-umber-dark-shade:#534927,
    potrait1-green:#987011,
    potrait2-green:#445529,
    potrait3-green:#443321,
    potrait4-green:#1F160D,
    potrait5-green:#00E606,
    potrait6-green:#0A3B00,
    potrait7-green:#00D16B,
    ad1-green:#71D702,
    ad2-green:#7CAF3D,
    ad3-green:#0A2F08,
    ad4-green:#204009,
    ad5-green:#93E800,
    ad6-green:#EFFB00,
    ad7-green:#CFFB49,
    ad8-green:#006B33,
    ad9-green:#5F6200,
    ad10-green:#CFFB25,
    ad11-green:#00110E,
    ad12-green:#00FF43,
    ad13-green:#BBC30E,
    ad14-green:#96CD21,
    ad15-green:#008D28,
    ad16-green:#92FF1E,
    ad17-green:#005E22,
    ad18-green:#79FD00,
    ad19-green:#74DB00,
    ad20-green: #002B26,

);

$nyg-white-palletes: (
    warm-white-alternative: #F1EFE1,
    warm-white-light-shade:#FAF8EA,
    white:#EFEFEF,
    creamize-white:#FAF7FC,
    foundation-white:#F2EAE8,
    warm-white:#C3B7AF,
    tatanium-white:#F0ECF0,
    ad1-white:#E5E3E1,
    ad2-white:#45556B,
    ad3-white:#5F7493,
    ad4-white:#EFFDBC,
    ad5-white:#C3B9B9,
    ad6-white:#AFAFAF,
    ad7-white:#CED0D0,
    ad8-white:#F5F4DE,
    ad9-white:#262626,
);

$nyg-red-palletes: (
    scarllet:#A1011C,
    dore-rose:#8D2733,
    dore-rose-light-shade:#C7A5A6,
    dore-rose-slight-dark-shade:#90182B,
    indian-red:#BD3851,
    alzarian-caret:#80000D,
    potrait1-red:#501916,
    potrait-red-light-shade:#501916,
    potrait-red-medium-shade:#631E1B,
    potrait2-red:#732C1E,
    potrait3-red:#5A1F1B,
    potrait4-red:#6C2B02,
    potrait5-red:#621512,
    potrait6-red:#B47B6C,
    potrait7-red:#88232A,
    potrait8-red:#6D1114,
    potrait9-red:#DC3233,
    potrait10-red:#730000,
    ad1-red:#D2011C,
    ad2-red:#B60120,
    ad3-red:#FF47FF,
    ad4-red:#E64265,
    ad5-red:#DC518C,
    ad6-red:#870260,
    ad7-red:#740707,
    ad8-red:#B60000,
    ad9-red:#8D003B,
    ad10-red:#960000,
    ad11-red:#FF0060,
    ad12-red:#E80014,
    ad13-red:#BD0000,
    ad14-red:#FF3497,
    ad15-red:#FF0044,
    ad16-red: #FF0034,
    ad17-red: #B10000,
    ad18-red:#DE0033,
);

$nyg-blue-palletes: (
    cerulean:#0584C6,
    cerulean-dark-shade:#0F5891,
    kings-blue:#5395E9,
    vivid-blue:#66AABA,
    potrait1-blue:#1A2C32,
    potrait2-blue:#D6DCE8,
    potrait3-blue:#0F607A,
    potrait4-blue:#1B292A,
    potrait5-blue:#025BE0,
    potrait6-blue:#2D0DD3,
    potrait7-blue:#0068FF,
    potrait8-blue:#227C71,
    potrait9-blue:#2D294C,
    ad1-blue:#22A971,
    ad2-blue:#1A2CC2,
    ad3-blue:#1AD6C2,
    ad4-blue:#8181FF,
    ad5-blue:#03ACAC,
    ad6-blue:#0016A4,
    ad7-blue:#00FFE2,
    ad8-blue:#009ACE,
    ad9-blue:#007DB4,
    ad10-blue:#0091FF,
    ad11-blue:#6B05FF,
    ad12-blue:#7434FF,
    ad13-blue:#004CFF,
    ad14-blue:#008777,
    ad15-blue:#26264A,
    ad16-blue:#26268B,
    ad17-blue: #003C30,
    ad18-blue:#3725A6,
    ad19-blue:#2E2248,
    ad20-blu:#5395E9,
);

$nyg-mix-palletes: (
    tatanium-white-yellow-orch:#EACC9C,
    red-brown:#821B08,
    orange-brown:#A45708,
);

$nyg-black-palletes: (
    black:#1B1714,
    umber-black:#252A19,
    potrait1-black:#1D2225,
    potrait2-black:#37302E,
    potrait3-black:#010004,
    potrait4-black:#241713,
    ad1-black:#01091B,
    ad2-black:#0E091B,
    ad3-black:#140210,
    ad4-black:#252112,
    ad5-black:#0E0F0D,
    ad6-black:#000922,
    ad7-black: #0E0F0D,
    ad8-black: #323032,

);

$nyg-yellow-palletes: (
    yellow-orch:#AE9A46,
    turner-yellow:#E5B62B,
    turner-yellow-dark-shade:#DB9412,
    turner-yellow-feint-shade:#E6DBB5,
    potrait1-yellow-feint-shade:#D0B47F,
    potrait2-yellow:#CDA23D,
    potrait3-yellow:#795F3E,
    potrait4-yellow:#F0B81D,
    potrait5-yellow:#EACA28,
    potrait6-yellow:#F0D500,
    ad1-yellow:#FFB02D,
    ad2-yellow:#FFF756,
    ad3-yellow:#C2BD00,
    ad4-yellow:#FFC30E,
    ad5-yellow:#FFF086,
    ad6-yellow: #ECF67D,
    ad7-yellow: #EEFF34,
    ad8-yellow: #FFFF00,
    ad9-yellow: #FFFB7E,
    ad10-yellow: #FFFF55,
    ad11-yellow:#D3C2A1,
);

$nyg-brown-palletes: (
    brown:#6A3F25,
    brunt-umber:#3D2322,
    brunt-umber-bright-shade:#6F250E,
    potrait2-brown:#834E22,
    ad1-brown:#6C2C10,
    ad2-brown:#44170A,
    ad3-brown:#815700,
    ad4-brown: #790000,
    ad5-brown: #1F0000,

);

$nyg-voilet-palletes: (
    magent-light-shade:#A85387,
    magenta-dark-shade:#622042,
    magenta-feint-shade:#BBABBA,
    magenta-dark-shade-2:#691425,
    magenta-medium-shade:#792B3A,
    potrait1-voilet:#4D4051,
    ad1-voilet:#3E0C76,
    ad2-voilet:#2D0A27,
    potrait2-voilet:#2E2144,
    ad3-voilet:#A33DF8,
    ad4-voilet:#FF1425,
    ad5-voilet:#6F09E8,
    ad6-voilet:#54003E,
    ad7-voilet:#FF0012,
    ad8-voilet:#750062,
    ad9-voilet:#FF91FF,
);

$nyg-orange-palletes: (
    cadium-orange:#F29136,
    flame-orange:#CD7237,
    // or FFB02D
    flame-orange-dark-shade:#C8632B,
    flame-orange-bright-shade:#BF4822,
    skin-tone:#C0824C,
    skin-tone2:#B66836,
    skin-tone3:#B25337,
    skin-tone4:#A05423,
    skin-tone5:#9B7A41,
    skin-tone6:#DFD1AB,
    potrait1-orange:#D64B00,
    potrait2-orange:#B57324,
    ad1-orange:#FFA800,
    ad2-orange:#D69E00,
    ad3-orange:#FF2B29,
    ad4-orange:#FF981F,
    ad5-orange:#FFC000,
    ad6-orange:#FF6F00,
    ad7-orange:#FF9000,
    ad8-orange: #FF0700
);