@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .red-d {
        animation-name: run;
        animation-duration: 0.545s;
        animation-timing-function:
            cubic-bezier(.9, .81, .67, .68);

        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }
}

:host {
    .bx {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

:host {
    .ox1 {
        width: 50%;
        height: 20px;
        background-color: map.get(theme.$nyg-white-palletes, ad1-white);
        position: absolute;
        z-index: -1;
        animation-name: cross;
        animation-duration: 2.545s;
        animation-timing-function:
            cubic-bezier(.9, .81, .67, .68);

        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }
}

:host {
    .ox2 {
        width: 50%;
        height: 20px;
        position: absolute;
        z-index: -1;
        animation-name: cross2;
        animation-duration: 2.545s;
        animation-timing-function:
            cubic-bezier(.9, .81, .67, .68);

        animation-iteration-count: infinite;
        animation-fill-mode: both;

    }
}

@keyframes cross {
    0% {
        transform: translateY(-100%);
        border-radius: 10rem;
        background: linear-gradient(to left, map.get(theme.$nyg-yellow-palletes, ad1-yellow)50%,
                map.get(theme.$nyg-white-palletes, ad1-white)100%);

    }

    99% {
        transform: translateX(100%);
        background: linear-gradient(to left, map.get(theme.$nyg-yellow-palletes, ad1-yellow)70%,
                map.get(theme.$nyg-white-palletes, ad1-white)100%);

    }

    100% {
        transform: translateX(100%);
        opacity: 0;
        border-radius: 10rem;
        background: linear-gradient(to left, map.get(theme.$nyg-yellow-palletes, ad1-yellow)100%,
                map.get(theme.$nyg-white-palletes, ad1-white)100%);

    }

}

@keyframes cross2 {
    0% {
        transform: translateX(100%);
        background: linear-gradient(to left, map.get(theme.$nyg-yellow-palletes, ad1-yellow)50%,
                map.get(theme.$nyg-white-palletes, ad1-white)100%);
    }

    99% {
        transform: translateY(-100%);
        border-radius: 10rem;
        background: linear-gradient(to left, map.get(theme.$nyg-yellow-palletes, ad1-yellow)70%,
                map.get(theme.$nyg-white-palletes, ad1-white)100%);

    }

    100% {
        transform: translateX(100%);
        opacity: 0;
        background: linear-gradient(to left, map.get(theme.$nyg-white-palletes, ad1-yellow)100%,
                map.get(theme.$nyg-white-palletes, ad1-white)100%);

    }
}


:host {
    .line {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.5;
        z-index: -1;
        animation-name: walk;
        animation-duration: 1.45s;
        animation-timing-function:
            cubic-bezier(.9, .81, .67, .68);

        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }
}

:host {
    .line2 {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.5;
        z-index: -1;
        animation-name: walk2;
        animation-duration: 1.45s;
        animation-timing-function:
            cubic-bezier(.9, .81, .67, .68);

        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }
}


:host {
    .line3 {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.5;
        z-index: -1;
        animation-name: walk3;
        animation-duration: 1.45s;
        animation-timing-function:
            cubic-bezier(.9, .81, .67, .68);
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }
}

:host {
    .line4 {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.5;
        z-index: -1;
        animation-name: walk4;
        animation-duration: 1.45s;
        animation-timing-function:
            cubic-bezier(.9, .81, .67, .68);

        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }
}

@keyframes walk3 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes walk4 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}







@keyframes walk {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes walk2 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

:host {
    .blue-d {
        animation-name: run2;
        animation-duration: .64s;
        animation-timing-function:
            cubic-bezier(.9, .81, .67, .68);

        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }
}

@keyframes run {
    0% {

        background: linear-gradient(to right, map.get(theme.$nyg-voilet-palletes, ad7-voilet)0%,
                map.get(theme.$nyg-red-palletes, ad7-red)100%,
            );
    }

    60% {
        background: linear-gradient(to right, map.get(theme.$nyg-voilet-palletes, ad7-voilet)25%,
                map.get(theme.$nyg-red-palletes, ad7-red)100%,
            );
    }

    70% {
        background: linear-gradient(to right, map.get(theme.$nyg-voilet-palletes, ad7-voilet)50%,
                map.get(theme.$nyg-red-palletes, ad7-red)100%,
            );
    }

    80% {
        background: linear-gradient(to right, map.get(theme.$nyg-voilet-palletes, ad7-voilet)75%,
                map.get(theme.$nyg-red-palletes, ad7-red)100%,
            );
    }

    90% {
        background: linear-gradient(to right, map.get(theme.$nyg-voilet-palletes, ad7-voilet)90%,
                map.get(theme.$nyg-red-palletes, ad7-red)100%,
            );
    }

    100% {
        background: linear-gradient(to right, map.get(theme.$nyg-voilet-palletes, ad7-voilet)100%,
                map.get(theme.$nyg-red-palletes, ad7-red)100%,
            );
    }
}

@keyframes run2 {
    0% {

        background: linear-gradient(to right, map.get(theme.$nyg-blue-palletes, potrait7-blue)0%,
                map.get(theme.$nyg-blue-palletes, ad6-blue)100%,
            );
    }

    60% {
        background: linear-gradient(to right, map.get(theme.$nyg-blue-palletes, potrait7-blue)25%,
                map.get(theme.$nyg-blue-palletes, ad6-blue)100%,
            );

    }

    70% {
        background: linear-gradient(to right, map.get(theme.$nyg-blue-palletes, potrait7-blue)50%,
                map.get(theme.$nyg-blue-palletes, ad6-blue)100%,
            );
    }

    80% {
        background: linear-gradient(to right, map.get(theme.$nyg-blue-palletes, potrait7-blue)75%,
                map.get(theme.$nyg-blue-palletes, ad6-blue)100%,
            );
    }

    90% {
        background: linear-gradient(to right, map.get(theme.$nyg-blue-palletes, potrait7-blue)90%,
                map.get(theme.$nyg-blue-palletes, ad6-blue)100%,
            );
    }

    100% {
        background: linear-gradient(to right, map.get(theme.$nyg-blue-palletes, potrait7-blue)0%,
                map.get(theme.$nyg-blue-palletes, ad6-blue)100%,
            );
    }
}