@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .nyg-headerT {
        font-size: 4rem;
        font-family: arial;
        pointer-events: none;
        font-weight: bold;
    }
}

:host {
    .nyg-header {
        font-size: 8rem;
        font-family: arial;
        pointer-events: none;
    }
}

:host {
    .ocs-ho {
        position: relative;
        z-index: 1111;
    }
}

:host {
    .ocs-se {
        position: relative;
    }
}

:host {
    .ocs-o {
        width: 170px;
        height: 170px;
        padding: 3px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        position: relative;
    }
}

:host {
    .ocs-hx {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        // top: 150px;
    }
}

:host {
    .left-bo {
        display: block;
        border-radius: 100%;
        width: 300px;
        height: 200px;
        border-left: 10px;
        border-style: solid;
        border-width: 10px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;


        &:nth-child(2) {
            width: 200px;
            position: absolute;
            height: 100px;
        }

        &:nth-child(3) {
            width: 100px;
            position: absolute;
            height: 50px;
        }

        &:nth-child(4) {
            width: 50px;
            position: absolute;
            height: 15px;
        }

        &:nth-child(5) {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            position: absolute;
            border-style: none;
        }

    }
}

:host {
    .ocs-ti {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}