services:
  angular:
    build:
      context: .
      dockerfile: Dockerfile
    command: npm start
    ports:
      - "4200:4200"

  server:
    build:
      context: .
    environment:
      NODE_ENV: production
    ports:
      - 5000:5000
