<div class="container">

    <div class="nyg-se">
        <div class="nyg-tag2">
            <div class="nyg-tag">

                <div class="nyg-ti">
                    <span class="nyg-header">
                        {{Nexus()}}
                    </span>
                </div>
                <div class="nyg-ti">
                    <span class="nyg-header">
                        NEXUS
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>