<div class="container">
    <div class="ocs-item">
        <div class="ocs-load">
            <div class="ocs-x">
                <app-ocs-img [OCSPicURL]="OSCredImg"></app-ocs-img>
                <app-ocs-header-v3 [OCSheader]="RedPlayer()"></app-ocs-header-v3>
            </div>
        </div>
        <div class="ocs-log">
            <span class="ocs-header">
            </span>
        </div>
        <div class="ocs-load2">
            <div class="ocs-x">
                <app-ocs-img [OCSPicURL]="OSCblueImg"></app-ocs-img>

                <app-ocs-header-v3 [OCSheader]="BluePlayer()"></app-ocs-header-v3>

            </div>
        </div>

    </div>
</div>