@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .nyg-Jform {
        background-color: map.get(theme.$nyg-white-palletes, ad8-white);

    }
}

:host {
    .ocs-btn {
        &:active {
            background:
                linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
                    map.get(theme.$nyg-blue-palletes, ad11-blue));

            .ocs-header {
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
            }

        }
    }
}


:host {
    .nyg-header {
        color: map.get(theme.$nyg-white-palletes, ad8-white);
    }
}

:host {
    .btn-cont {
        background-color: transparent;
    }
}

:host {
    .btn-cont {
        &:hover {
            background-color: map.get(theme.$nyg-yellow-palletes, ad2-yellow);
        }
    }
}