@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .Jcontainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

:host {
    .nyg-form-Jcontainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

:host {
    .nyg-header {
        font-size: 4rem;
        font-family: arial;
    }
}

:host {
    .ocs-outer {
        width: fit-content;
        height: fit-content;
        transform: skew(-10deg);
        padding: 5px;
        border-radius: 5rem;

    }
}

.ocs-btn {
    width: fit-content;
    height: fit-content;
    border: 0px;
}


:host {
    .ocs-btn {
        width: 200px;
        height: 70px;
        border-radius: 5rem;
        border: 0px;
        margin: 0px;
        padding: 0px;
    }
}

:host {
    .ocs-header {
        font-size: 4rem;
        font-family: arial;
    }
}

:host {
    .ocs-header {
        pointer-events: none;
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
                map.get(theme.$nyg-blue-palletes, ad11-blue));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}

:host {
    .nyg-Jform {
        width: 1450px;
        height: 640px;
        padding: 20px;
        @include mat.setupFlex(column, center, flex-start);
        gap: 50px;
        border-radius: 2rem;

        & {
            overflow: hidden;
            margin: 10px;
        }
    }
}