@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .nyg-input:checked {
        background: map.get(theme.$nyg-red-palletes, ad4-red);
    }
}

:host {
    .outer-bordr {

        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
                map.get(theme.$nyg-blue-palletes, ad11-blue));
        background-size: 200% 100%;
        animation: chekd 0.76s cubic-bezier(1, .4, .07, .7) infinite;
    }
}