@use '../../../../helpers/color-palletes.scss' as theme;
@use '../../../../helpers/helpers.scss' as mat;
@use 'sass:map';

:host {
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

:host {
    .nyg-cl {
        width: 300px;
        height: 300px;
        background-color: orange;
        border-radius: 100%;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 300px;
    }
}

:host {
    .nyg-header {
        font-size: 7rem;
        font-family: arial;
        pointer-events: none;
    }
}