@use "../../../../../node_modules/@angular/material/core/style/_vendor-prefixes" as *;
@use "../../../view-sheet/touchup/view-sheet" as *;
@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .container {
        width: 100%;
        height: 100%;
    }
}

.coin-body {
    width: 400px;
    height: 400px;
    border: 0px;
    background-color: transparent;
    padding: 10px;
}

:host {
    .border {
        padding: 10px;
    }
}




:host {
    .nyg-header {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4.5rem;
        text-align: center;
        font-family: monospace;
        font-weight: bolder;

        & {
            color: map.get(theme.$nyg-black-palletes, ad2-black);
        }
    }
}

:host {
    .bx {
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

:host {
    .nyg-cbody {
        padding: 10px;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 100%;
        padding: 10px;
        border: 0px;

        & {
            outline-color: map.get(theme.$nyg-black-palletes, umber-black);
        }
    }
}

:host {
    .outer-bod {
        padding: 10px;
        border-radius: 100%;
        width: fit-content;
        height: fit-content;
        position: absolute;
        padding: 20px;
        backface-visibility: hidden;

    }
}

// this decides which face to be at the top
:host {
    .tail-face {
        z-index: 1;
    }

    .head-face {
        z-index: 1;
    }
}

.nyg-head {
    background-color: map.get(theme.$nyg-blue-palletes, ad8-blue);
}

.nyg-head-header {
    background-color: map.get(theme.$nyg-blue-palletes, ad8-blue);
}

.nyg-tail {
    background-color: map.get(theme.$nyg-red-palletes, ad8-red);
}

.nyg-tail-header {
    background-color: map.get(theme.$nyg-red-palletes, ad8-red);
}