@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use "sass:map";


:host {
    .nyg-input {
        &:focus {
            transition-property: padding-top;
            transition-duration: 0.24s;
            transition-timing-function: cubic-bezier(.9, .81, .67, .68);
            padding-top: 20px;
        }
    }
}

:host {
    .ocs-frame {
        --gradient-border: conic-gradient(from var(--border-angle), #93E800 5%,

                #0844C6, #FF0012 99%, #F29136);
        --border-angle: 0turn; // initial-state

        border: solid 5px transparent;
        border-radius: 20px;
        background: var(--gradient-border) border-box;

        background-position: center center;
        animation: rotateQ;
        animation-duration: 3.45s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(.9, .81, .67, .68);

    }
}


@keyframes rotateQ {

    to {
        --border-angle: 1turn;

    }

}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

@for $i from 1 to 4 {
    #treadmil-path {
        fill: map.get(theme.$nyg-black-palletes, ad8-black);

        rect {

            &:nth-child(#{$i}) {
                animation: start-trademil;
                animation-duration: 900ms;
                animation-delay: #{$i *.1}s;
                animation-iteration-count: infinite;
                animation-timing-function: cubic-bezier(.9, .81, .67, .68);
            }
        }
    }
}

@keyframes start-trademil {
    0% {
        fill: map.get(theme.$nyg-white-palletes, ad5-white);
        transform: translateY(0);
    }

    100% {

        transform: translateY(100px);
    }
}