@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .ocs-btn {
        width: 800px;
        height: 500px;
        z-index: 1111;

    }
}


:host {
    .ocs-forward-btn {
        width: 100%;
    }
}

:host {
    .ocs-f {
        width: 100%;
        height: 100%;
        display: block;

        &:nth-child(even) {
            background-color: map.get(theme.$nyg-black-palletes, ad1-black);

        }

        &:nth-child(odd) {
            background-color: map.get(theme.$nyg-white-palletes, ad1-white);
        }
    }
}

:host {
    .back {
        width: 800px;
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;

    }
}

.ocs-cont {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1111;
    overflow: hidden;
}