@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .ocs-header {
        font-size: 3rem;
        font-family: arial;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        pointer-events: none;
    }
}

:host {
    .ocs-hd {
        width: 200px;
        height: 50px;
        border-style: solid;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & {
            border-color: map.get(theme.$nyg-blue-palletes, ad4-blue);
        }
    }
}