@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .nyg-headerT {
        font-size: 9rem;
        font-family: arial;
        font-weight: bold;
    }
}

:host {
    .ocs-ho {

        position: relative;
        z-index: 1111;
    }
}

:host {
    .nyg-header {
        font-size: 5rem;
        font-family: arial;
    }
}

:host {
    .ocs-se {
        position: relative;
        left: 10px;
    }
}

:host {
    .left-bo {
        display: block;
        border-radius: 100%;
        width: 200px;
        height: 200px;
        border-left: 10px;
        position: absolute;
        border-style: solid;
        border-width: 10px;
        border-top: 0px;
        border-bottom: 0px;

        &:nth-child(2) {
            width: 200px;
            height: 100px;

        }

        &:nth-child(3) {
            width: 100px;
            height: 50px;

        }
    }
}

:host {
    .ocs-ti {
        width: 350px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: orange;
        border-radius: 150px;
    }
}