form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.animation {
    animation-name: on-leave;
    animation-duration: 1.45s;

    animation-timing-function: cubic-bezier(1, .71, 0, -0.06);
    // animation-timing-function: cubic-bezier(.1, 1.47, .6, 1.58);
}

@keyframes on-enter {
    0% {
        opacity: 0;

        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes on-leave {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;

    }
}