@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .ocs-prof {
        background: map.get(theme.$nyg-green-palletes, ad11-green);
        border-radius: 4rem;
    }

}