@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .nyg-form {
        background-color: map.get(theme.$nyg-white-palletes, white);
    }
}

:host {
    .nyg-form-fieldXX {
        overflow: hidden;
        // background-color: map.get(theme.$nyg-orange-palletes, ad2-orange);
        background-color: map.get(theme.$nyg-white-palletes, white);

    }
}

:host {
    .item-fitz {
        // background-color: map.get(theme.$nyg-red-palletes, scarllet);
        overflow: hidden;
    }
}

:host {
    .nyg-form {
        border-radius: 30px;
        padding: 10px;
    }
}

:host {
    .nyg-header {
        padding: 10px;
        letter-spacing: -3px;
        pointer-events: none;
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
                map.get(theme.$nyg-blue-palletes, ad11-blue));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bolder;
    }
}

:host {
    .ocs-header {
        padding: 10px;
        letter-spacing: -3px;
        pointer-events: none;
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
                map.get(theme.$nyg-blue-palletes, ad11-blue));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bolder;
    }
}

:host {
    .nyg-header1 {
        color: map.get(theme.$nyg-white-palletes, ad1-white)
    }
}