@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .nyg-input {
        &:checked {
            border-style: solid;
            border-width: 10px;
            border-color: map.get(theme.$nyg-red-palletes, ad11-red);
        }
    }
}

:host {
    .nyg-inputCont {
        &:focus-within {

            animation-name: run;
            animation-duration: 0.15s;
            animation-iteration-count: 1;
            background-position: 200% 100%;
            animation-timing-function: cubic-bezier(1, .4, .07, .7);

        }
    }
}


@keyframes run {
    0% {
        background-position: 50% 0%;
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red)30%,
                map.get(theme.$nyg-blue-palletes, ad11-blue)100%);

    }

    100% {
        background-position: 100% 0%;
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red)30%,
                map.get(theme.$nyg-blue-palletes, ad11-blue)100%);

    }
}

:host {
    .nyg-header {
        color: map.get(theme.$nyg-white-palletes, ad1-white);
    }
}

// :host {
//     .nyg-label {
//         background-color: map.get(theme.$nyg-voilet-palletes, magenta-dark-shade-2);
//     }
// }

:host {
    .nyg-header {
        font-family: Arial;

        pointer-events: none;
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
                map.get(theme.$nyg-blue-palletes, ad11-blue));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}