@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .nyg-header {
        font-size: 5rem;
        font-family: Arial;
    }
}

:host {
    input {
        appearance: none;
        width: 360px;
        border-radius: 10em;
        height: 80px;
    }
}

:host {
    .nyg-label {
        width: 300px;
        height: fit-content;
        border-radius: 10em;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

:host {
    .nyg-inputCont {
        position: absolute;
        width: fit-content;
        border-radius: 10em;
    }
}

:host {
    fieldset {
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
}

:host {

    .fit {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}