@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

.ocs-svg {
    width: 300px;
    height: 100%;
}

.topx-svg {
    position: relative;
    left: 110px;
}

:host {
    .ocs-ti {
        width: 230px;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: orange;
        border-radius: 2rem;
        padding: 10px;
        gap: 10px;
    }
}

:host {
    .ocs-bo {
        width: fit-content;
        height: fit-content;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 2rem;
        background-color: blue;
    }
}

:host {
    .nyg-header {
        font-size: 5.5rem;
        font-family: arial;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.bottomx-svg {
    position: relative;
    left: 110px;
}

.ocs-co {
    fill: blue;
}

.ocs-item {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 10px;
}