@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.container {
    width: 100%;
    height: 100%;
}

:host {
    .nyg-header {
        font-size: 14rem;
        font-family: arial;
        font-weight: bold;
        pointer-events: none;
        color: map.get(theme.$nyg-black-palletes, ad4-black);
    }
}