@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';


.nyg-se {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}

:host {
    .nyg-header {
        pointer-events: none;
    }
}


:host {
    .nyg-tag {
        width: fit-content;
        height: fit-content;
        overflow: hidden;
        border-right: 0px;
        border-left: 0px;
        font-family: arial;

        & {
            background-color: orange;
        }

    }
}