:host {
    .container {
        width: 100%;
        height: 100%;
    }
}

:host {
    .ocs-load {

        width: fit-content;
        height: 200px;
        display: block;
        border-top-left-radius: 4rem;
        border-top-right-radius: 4rem;
        position: absolute;
        top: 0%;
        bottom: 0%;
        z-index: 1111;
        overflow: hidden;
        padding: 50px;
    }
}


:host {
    .ocs-load2 {
        width: fit-content;
        height: 200px;
        display: block;
        border-bottom-left-radius: 4rem;
        border-bottom-right-radius: 4rem;
        position: absolute;
        top: 0;
        top: 70%;
        z-index: 1111;
        overflow: hidden;
        padding: 50px;

    }
}

:host {
    .ocs-x {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}

:host {
    .ocs-item {
        width: 100%;
        height: 100%;
        padding: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 45px;
        position: relative;
        padding: 20px;
        top: 50px;

    }
}

:host {
    .ocs-log {
        width: 700px;
        height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 4rem;
        border-bottom-right-radius: 4rem;
        border-top-left-radius: 4rem;
        border-bottom-left-radius: 4rem;
        position: relative;
        right: 0;
        // transition: background;
        // transition-timing-function: cubic-bezier(.93, -0.25, .99, 1.63);
        // transition-duration: 1.45s;
        // background: rgba(255, 255, 255, 50%);
        // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        // backdrop-filter: blur(0px);
        // -webkit-backdrop-filter: blur(0px);

    }
}

:host {
    .ocs-header {
        font-size: 10rem;
        font-family: arial;
        position: relative;
        top: 100px;
    }
}