<div class="ocs-outer">
    <div class="ocs-inner">
        <button class="ocs-item" (click)="Listen()">
            <span class="animate ocs-header ocs-sub">
                {{OCSheader}}</span>
            <div class="ocs-hx ">
                <div class="img-c">
                    <img class="x-img" [src]="OCSsrc">
                </div>
                <div class="img-c">
                    <span class="ocs-header">{{OCSsubHeader2}}</span>
                </div>
            </div>
        </button>
    </div>
</div>