@use '../../../../helpers/color-palletes.scss' as theme;
@use '../../../../helpers/helpers.scss' as mat;
@use 'sass:map';

:host {
    .ocs-bo {
        padding: 10px;
        border-radius: 3rem;
    }
}

:host {
    .ocs-board {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        border-radius: 3rem;

    }
}

:host {
    .ocs-item {
        width: 400px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        border-radius: 3rem;

        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}

:host {
    .nyg-header {
        font-size: 7rem;
        font-family: arial;
        pointer-events: none;
    }
}