@use '../../../../helpers/color-palletes.scss' as theme;
@use '../../../../helpers/helpers.scss' as mat;
@use 'sass:map';

:host {

    .ocs-de {
        width: fit-content;
        height: fit-content;
        padding: 10px;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

:host {
    .ocs-bo {
        width: 300px;
        height: 300px;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 4px 30px rgba(0, 0, 0, 1);
    }
}

:host {
    .ocs-header {
        font-size: 3rem;
        font-family: arial;
        font-weight: bolder;
    }
}

:host {
    .ocs-header1 {
        font-size: 6rem;
        font-weight: bolder;
        font-family: arial;
    }
}


:host {
    .animate {

        background:
            linear-gradient(to right, #6F09E8, #1AD6C2);
    }
}

:host {
    .ocs-header {
        color: map.get(theme.$nyg-white-palletes, ad1-white);
        pointer-events: none;
    }
}

:host {
    .ocs-header1 {
        pointer-events: none;
        color: map.get(theme.$nyg-blue-palletes, potrait2-blue);
    }
}