@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use "sass:map";


input {
    appearance: none;
    width: 80px;
    height: 80px;
    position: absolute;
}

:host {
    .nyg-header {
        font-family: monospace;
        font-size: 2.5rem;
        letter-spacing: -4px;

        & {
            color: map.get(theme.$nyg-black-palletes, umber-black);
        }
    }
}

:host {
    .nyg-form {
        @include mat.setup(fit-content, 100%, flex);
        @include mat.setupFlex(row, flex-start, flex-start);

        & {
            gap: 5px;
            padding: 0px;
        }
    }
}

.nyg-pc-items {
    @include mat.setup(100%, 100%, flex);
    flex-direction: column;
}

.container {
    width: 100%;
    height: 100%;
}

.nyg-pc {
    width: 100%;
    height: 100%;
}

:host {
    .fit {
        @include mat.setup(100%, 100%, flex);
        @include mat.setupFlex(row, center, center);
    }
}

:host {
    .btnD {
        top: 100px;
    }
}

:host {
    .nyg-ax {
        & {
            background-color: map.get(theme.$nyg-yellow-palletes, yellow-orch);
        }



        border-radius: 50px;
        padding: 10px;
    }
}