.ocs-b {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ocs-a {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ocs-form {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ocs-x {
    width: 700px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    background-color: orange;
    gap: 10px;
    position: relative;
    padding: 30px;
    border-radius: 3rem;
    white-space: nowrap;
    -ms-overflow-style: none;
    /* IE 10+ */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */

    }
}

.ocs-item {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 3rem;
}

.ocs-itemx {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.ocs-xx {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.x1 {
    background-color: green;
}

.ocs-xx {
    padding: 20px;
    border-radius: 3rem;
}

.x0 {
    background-color: blue;
}

button {
    border: 0px;
    margin: 0px;
    padding: 10px;
    width: 350px;
    height: fit-content;
}


:host {
    .nyg-header {
        font-size: 8rem;
        font-family: 'Hey August';
        font-weight: bolder;


    }
}

.ocs-xy {


    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}