@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.container {
    width: 100%;
    height: 100%;
}

.ocs-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:host {
    .ocs-tit {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

:host {
    .ocs-subti {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

:host {
    .ocs-x {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

:host {
    .nyg-header {
        font-family: arial;
        font-size: 4rem;
        letter-spacing: -3px;
        pointer-events: none;
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
                map.get(theme.$nyg-blue-palletes, ad11-blue));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bolder;
    }
}