@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';


.containerx {
    // background-color: map.get(theme.$nyg-white-palletes, ad7-white);
    // for scoreboard-a
    // background: linear-gradient(to right, #0c002b, #1779ff);
    // for scoreboard-b
    // background: linear-gradient(to right, map.get(theme.$nyg-black-palletes, umber-black), map.get(theme.$nyg-black-palletes, potrait3-black));

}