@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.containerx {
    width: 100vw;
    height: 100vh;
}

.items {
    width: 100%;
    height: 100%;
}

.ocs-game-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.items {
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.play-view {
    padding: 10px;
}