<div class="PCcontainer">
    <div class="nyg-form-PCcontainer">
        <div class="nyg-form-PCview">
            <form class="nyg-form">
                <fieldset class="nyg-form-items">
                    <div class="adjust">

                        <label>
                        </label>
                        <div class="nyg-in-conta">
                            <input autocomplete="off" [MyTeamColor]="NYGmyTeam" class="nyg-input">
                        </div>
                        <button class="nyg-btn" [MyTeamColor]="NYGmyTeam">
                            <span class="nyg-header">G</span>
                        </button>

                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>