@use '../../../../helpers/color-palletes.scss' as theme;
@use '../../../../helpers/helpers.scss' as mat;
@use 'sass:map';

.container {
    width: 100%;
    height: 100%;
}

.nyg-pc {
    width: 100%;
    height: 100%;
}

:host {
    .fit {
        @include mat.setup(fit-content, fit-content, flex);
        @include mat.setupFlex(column, center, center);

        border-radius: 2rem;
        overflow: hidden;
    }
}

:host {
    .nyg-label {
        width: 250px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        background-color: map.get(theme.$nyg-red-palletes, ad6-red);
        z-index: 1;

        justify-content: center;
        align-items: flex-start;
        border-radius: 2rem;
        padding-left: 35px;
        padding-right: 60px;
        padding-top: 15px;
        overflow: hidden;
    }
}

:host {
    .ocs-sprit {
        overflow: hidden;
    }

    .slot {
        overflow: hidden;
    }
}


:host {
    .ocs-lvl {
        width: 40px;
        height: 40px;
        background-color: map.get(theme.$nyg-white-palletes, ad1-white);
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        rotate: 50deg;
        z-index: 11;
        padding: 6px;
    }
}

input {
    appearance: none;

}

.ocs-sprit {
    display: flex;
    width: 100%;
    max-width: 400px;
    height: 50px;
    margin-top: -30px;
    background-color: #f4f4f4;
    flex-direction: row;
    overflow: hidden;
}

.slot {
    flex: 1;
    border-width: 2px;
    border-style: solid;

    &:nth-of-type(1) {
        border-right: 0px;
        border-left: 0px;
    }
}


.slot:last-child {
    border-right: none;
}


.ocs-sprit1 {
    display: flex;
    width: 100%;
    max-width: 400px;
    height: 50px;
    margin-top: -30px;
    background-color: #f4f4f4;
    flex-direction: row;
    overflow: hidden;
}

.slot1 {
    flex: 1;
    border-width: 2px;
    border-style: solid;

    &:nth-of-type(1) {
        border-right: 0px;
        border-left: 0px;
    }
}


.slot:last-child {
    border-right: none;
}

:host {
    .nyg-header1 {
        rotate: -50deg;
        font-size: 4rem;
        font-family: arial;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}

:host {
    .nyg-header {
        font-size: 4rem;
        font-family: arial;
        color: map.get(theme.$nyg-white-palletes, ad1-white);
        // text-shadow:
        //     4px 4px 0px map.get(theme.$nyg-black-palletes, potrait3-black),
        //     2px 2px 0px map.get(theme.$nyg-black-palletes, potrait3-black);

    }
}

:host {
    input {
        width: 370px;
        height: 80px;
        border-radius: 1rem;


    }
}

:host {
    .fit2 {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
    }
}

:host {
    .fitx {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row-reverse;
    }
}

:host {
    .input-cont {
        position: absolute;
        width: fit-content;
    }
}

:host {
    .ocs-sprit {
        overflow: hidden;
        background-size: 200%;
    }
}

:host {
    .run {
        position: absolute;
        width: 100px;
        height: 50px;
        display: block;
        margin-top: -5px;
        margin-left: 1px;
    }
}