@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

:host {
    .ocs-h {
        position: relative;
        z-index: 111;
        width: 100%;
        height: 100%;
    }
}

:host {
    .nyg-header {
        font-size: 16rem;
        color: black;
        font-family: arial;
        font-weight: bolder;
        pointer-events: none;
    }
}

.nyg-fi {
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    perspective: 10000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}