@use '../../../helpers//color-palletes.scss' as theme;
@use 'sass:map';


:host {
    .ocs-header {

        font-size: 7rem;
        pointer-events: none;
        color:
            map.get(theme.$nyg-yellow-palletes, ad1-yellow);
        font-weight: bold;
        text-shadow: -6px 0px 0px map.get(theme.$nyg-black-palletes, ad1-black);
        letter-spacing: 5px;
        animation: run;
        animation-duration: 1.45s;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(.9, .81, .67, .68);
        animation-fill-mode: forwards;
    }
}