@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use "sass:map";


.ocs-con {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

:host {
    .nyg-header {
        font-size: 3rem;
        font-family: arial;
    }
}

:host {
    .ocs-header {
        font-size: 2.5rem;
        font-family: arial;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        pointer-events: none;
    }
}

:host {
    .ocs-hd {
        text-decoration: none;
        width: 200px;
        height: 50px;
        border-style: solid;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-width: 6px;

        & {
            border-color: map.get(theme.$nyg-blue-palletes, ad4-blue);
        }
    }
}