@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

.ocs-u {
    border: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

:host {
    .nyg-header {
        font-size: 8rem;
        font-family: 'Hey August';
        font-weight: bolder;


    }
}