@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use "sass:map";


:host {
    .nyg-h {
        font-size: 3rem;
        font-family: arial;
        font-weight: bolder;
        pointer-events: none;
    }
}

:host {
    .nyg-header {
        font-size: 3rem;
        font-family: arial;
        pointer-events: none;
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad11-red),
                map.get(theme.$nyg-blue-palletes, ad11-blue));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}

:host {
    .nyg-h {
        color: map.get(theme.$nyg-white-palletes, ad8-white);

    }
}

:host {
    .ocs-bar {
        background: map.get(theme.$nyg-white-palletes, ad7-white);
    }
}