@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .ocs-yu {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

:host {
    .nyg-hx {
        font-family: arial;
        font-size: 3rem;
        font-weight: bold;
    }
}

:host {
    .ocs-item {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transform: skew(-5deg);
        padding: 10px;
    }
}

:host {
    .ocs-bar {
        width: 500px;
        height: 70px;
        position: relative;
        padding: 10px;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}

:host {
    .ce {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 40%;
        top: 20%;
        z-index: 111;
        display: flex;
    }
}

:host {
    .run {
        position: absolute;
        width: 100px;
        height: 100%;
        display: block;
        background-color: white;
        filter: blur(60px);
    }
}

:host {
    .ocs-prog {
        // width: 500px;
        // height: 25px;
        width: 100%;
        height: 100%;
        display: block;

    }
}

:host {
    .nyg-header {
        font-size: 2rem;
        font-family: arial;
        font-weight: bolder;
    }
}

:host {
    .ocs-out {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
}