@use '../../../../helpers/helpers.scss' as mat;
@use '../../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

.container {
    width: 100%;
    height: 100%;

}

:host {
    .nyg-header {
        font-size: 4rem;
        font-family: Arial;
    }
}

:host {
    .ocs-fit {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

:host {
    .nyg-input {
        font-size: 3rem;
        font-family: Arial;
        font-weight: 900;
        text-transform: uppercase;
        border-radius: 3rem;
        outline-style: none;
        padding: 0px;
        outline: none;

        & {
            color: map.get(theme.$nyg-white-palletes, ad1-white);

        }

        & {
            text-shadow:
                1px 1px 0px map.get(theme.$nyg-black-palletes, potrait1-black),
                2px 2px 0px map.get(theme.$nyg-black-palletes, potrait1-black),
                4px 4px 0px map.get(theme.$nyg-black-palletes, potrait1-black),
        }

        & {
            padding-left: 40px;
            padding-right: 40px;
            border: 0px;

        }
    }
}

:host {
    input:focus {
        outline: none;
        border-style: none;
    }
}

:host {
    .nyg-btn {
        width: 90px;
        height: 90px;
        border-radius: 2rem;
        border: 0px;

    }
}

:host {
    .nyg-form-items {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border: 0px;
        margin: 0px;

    }
}

:host {
    .nyg-in-conta {
        width: fit-content;
        padding: 10px;
        height: fit-content;
        overflow: hidden;
        border-radius: 3rem;
    }
}

:host {
    .nyg-form {
        width: fit-content;
        height: fit-content;
    }
}

// :host {
//     .freeze-it {
//         // width: 1150px;
//         // height: 100px;
//         // background-color: orange;
//         // display: block;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         position: absolute;
//         z-index: 1111;
//         transform: skew(-20deg);
//         background: rgba(255, 255, 255, 0);
//         border-radius: 16px;
//         box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//         backdrop-filter: blur(0px);
//         -webkit-backdrop-filter: blur(0px);
//         border: 1px solid rgba(255, 255, 255, 0.42);
//         animation-name: freeze;
//         animation-duration: 1s;
//         animation-timing-function: linear;
//         animation-iteration-count: 1;
//         animation-fill-mode: forwards;
//     }
// }
@keyframes freeze {
    0% {
        filter: blur(10px);
        // width: 0px;
    }

    100% {
        filter: blur(0px);
        // width: 1150px;
    }
}

:host {
    .adjust {
        padding: 20px;
        display: flex;
        gap: 10px;
        border-radius: 1rem;
        align-items: center;
    }
}