@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

@supports(syntax:'<color>') {
    @property --bg {
        syntax: '<color>';
        inherits: true;
        initial-value: blue;
    }

    @property --col_ {
        syntax: '<color>';
        inherits: true;
        initial-value: white;
    }

    @property --from {
        syntax: "<color>";
        inherits: true;
        initial-value: red;
    }

    @property --to {
        syntax: "<color>";
        inherits: true;
        initial-value: green;
    }
}

:host {
    .ocs-header {
        pointer-events: none;
        background:
            linear-gradient(to left, var(--from),
                var(--to));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}

button {
    background-color: var(--bg);
}

:host {
    .ocs-btn {
        &:active {
            background:
                linear-gradient(to left, var(--from),
                    var(--to));

            .ocs-header {
                background: var(--bg);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
            }

        }
    }
}