@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use 'sass:map';

:host {
    .ocs-btn {
        width: 500px;
        height: 70px;
        border-radius: 5rem;
        border: 0px;
        margin: 0px;
        padding: 0px;
    }
}

:host {
    .ocs-outer {
        width: fit-content;
        height: fit-content;
        transform: skew(-10deg);
        padding: 5px;
        border-radius: 5rem;

    }
}

:host {
    .ocs-header {
        font-size: 4rem;
        font-family: arial;
    }
}