@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use "sass:map";

:host {
    .nyg-li {
        background-color: map.get(theme.$nyg-white-palletes, tatanium-white);
    }
}

:host {
    .nyg-input {
        background: map.get(theme.$nyg-brown-palletes, ad5-brown);
    }
}

:host {
    .nyg-header {
        font-size: 3rem;
        font-family: Arial;

        pointer-events: none;
        background:
            linear-gradient(to left, map.get(theme.$nyg-red-palletes, ad4-red),
                map.get(theme.$nyg-blue-palletes, ad4-blue));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}