@use '../../../helpers/helpers.scss' as mat;
@use '../../../helpers/color-palletes.scss' as theme;
@use "sass:map";



:host {
    .ocs-bulb {
        width: 500px;
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        // border-radius: 100%;
        // background: map.get(theme.$nyg-white-palletes, ad1-white);
        // -webkit-box-shadow: 5px 5px 50px 49px #000000;
        // box-shadow: 5px 5px 20px 9px map.get(theme.$nyg-white-palletes, ad1-white);
    }
}

:host {
    .ocs-header {
        font-size: 20rem;
        font-family: arial;
        color: map.get(theme.$nyg-blue-palletes, potrait2-blue);
        // text-shadow: -14px 0px 0px map.get(theme.$nyg-black-palletes, ad1-black);
        font-weight: bolder;
        pointer-events: none;
    }
}