<div class="container">
    <div class="ocs-item">
        <div class="ocs-prof">

            <div class="setA">
                <div class="ocs-set2">
                    <!-- <app-ocs-det OCStitle="RECORD" [OCSsubTitle]="NYGProfile.Record"></app-ocs-det> -->
                    <app-ocs-det OCStitle="POINTs" [OCSsubTitle]="NYGProfile.points"></app-ocs-det>
                    <app-ocs-det OCStitle="TIER" [OCSuseImage]="true" [OCSImgSrc]="img"
                        [OCSsubTitle]="NYGProfile.tier"></app-ocs-det>
                    <app-ocs-det OCStitle="RATING" [OCSsubTitle]="NYGProfile.rating"></app-ocs-det>
                </div>
                <div class="ocs-set2">
                    <app-ocs-det OCStitle="GAMEs PLAYED" [OCSsubTitle]="NYGProfile.gamesPlayed"></app-ocs-det>
                </div>
            </div>
        </div>
    </div>
</div>