:host {
    .ocs-opx {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 10rem;

    }
}

:host {
    .ocs-e {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
    }
}

:host {
    .ocs-xy {
        padding: 10px;
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        top: 0%;
        z-index: 1111;
        overflow: hidden;
    }
}

:host {
    .ocs-x {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

:host {
    .move-left {
        position: relative;
        left: 50px;
        z-index: 111;
    }
}

:host {
    .move-right {
        position: relative;
        right: 50px;

    }
}

:host {
    .ocs-xxx {
        position: relative;
        bottom: 30px;
        z-index: 11111111;
    }
}

:host {
    .ocs-hea {
        position: relative;
        bottom: 24px;
    }
}

:host {
    .ocs-g {
        width: 50%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }
}

:host {
    .ocs-xj {
        width: fit-content;
        height: fit-content;
    }
}